.m1kM0g {
  display: flex;
  justify-content: center;
}
.cXyYTw,
.mJrg7w {
  position: relative;
  width: 100%;
}
.cXyYTw {
  height: 100%;
}
._1jVKqQ {
  box-sizing: border-box;
  font-family:
    Canva Sans,
    Noto Sans Variable,
    Noto Sans,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif;
  overflow: hidden;
  position: absolute;
}
.RhrNhw {
  align-items: flex-end;
  display: flex;
  justify-content: inherit;
  min-height: 100%;
  text-align: inherit;
  text-overflow: clip;
  white-space: pre;
  width: 100%;
}
.ZLwX1w {
  flex: 1;
}
.NuU3Qw {
  font-feature-settings:
    "kern" 0,
    "calt" 0,
    "liga" 0,
    "clig" 0,
    "dlig" 0,
    "hlig" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  font-family: unset;
  font-kerning: none;
  font-synthesis: none;
  font-variant-ligatures: none;
  letter-spacing: 0;
  line-height: 1.4;
  word-break: normal;
}
.yf8G9w ._1jVKqQ {
  transform-origin: 0 0;
}
.mxK9lA ._1jVKqQ {
  transform-origin: 100% 0;
}
.yf8G9w {
  direction: ltr;
}
.mxK9lA {
  direction: rtl;
}
.b2fC0A {
  pointer-events: none;
}
.b2fC0A .ql-editor:not(:focus-within) ::selection {
  background: transparent;
}
.Vt2_4w {
  display: flex;
  pointer-events: all;
}
.Vt2_4w.jNbTIg {
  direction: ltr;
}
.Vt2_4w.gtA7Dw {
  direction: rtl;
}
.iXSdpQ {
  position: absolute;
  top: 0;
}
.iXSdpQ.jNbTIg {
  left: 0;
}
.iXSdpQ.gtA7Dw {
  right: 0;
}
._93roJg {
  pointer-events: all;
}
.KUsGaw {
  position: absolute;
  top: 0;
}
.KUsGaw.jNbTIg {
  left: 0;
}
.KUsGaw.gtA7Dw {
  right: 0;
}
._83Rssw {
  align-items: center;
  background-color: var(--4RaSjg);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  pointer-events: all;
}
.YbLr8g {
  background-color: #f1ebff;
}
.sTqdww {
  background-color: var(--eGVbng);
}
.yiml1g {
  color: var(--eGVbng);
}
.oYlhXA {
  color: var(--d1p99w);
}
.d2uLIA {
  border-block-end: 0.5px solid #d9d9d9;
  border-block-start: 1px solid #d9d9d9;
  border-inline: 0.5px solid #d9d9d9;
}
.JhBzyw {
  border-block: 0.5px solid #d9d9d9;
  border-inline-end: 0.5px solid #d9d9d9;
  border-inline-start: 1px solid #d9d9d9;
}
.bx74uQ {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}
.ze9QCQ {
  overflow: hidden;
  position: relative;
}
._rPu0g {
  position: absolute;
  top: 0;
}
._rPu0g.ssE9Tg {
  left: 0;
}
._rPu0g.OkifGQ {
  right: 0;
}
.N7J3UA {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}
.N7J3UA.ssE9Tg {
  transform-origin: top left;
}
.N7J3UA.OkifGQ {
  transform-origin: top right;
}
.m8CFdg {
  background-color: var(--d1p99w);
  border-block-end: 0.5px solid #d9d9d9;
  border-block-start: 1px solid #d9d9d9;
  border-inline-end: 0.5px solid #d9d9d9;
  border-inline-start: 1px solid #d9d9d9;
  color: var(--REcY5g);
  pointer-events: all;
}
.G6wL4w.ssE9Tg {
  border-top-left-radius: 12px;
}
.G6wL4w.OkifGQ {
  border-top-right-radius: 12px;
}
.W_E0wA {
  background-color: var(--eGVbng);
  color: var(--d1p99w);
}
.D_pitA {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}
/*# sourceMappingURL=sourcemaps/1838a5eb3ee4474d.ltr.css.map*/
