.CQUDgg {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  width: 100%;
}
._1PmiaA,
._52PUPQ {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
._1PmiaA,
._9Rpd3w {
  box-sizing: border-box;
}
._9Rpd3w {
  height: 100%;
  width: 100%;
}
.KZFvJw {
  height: 0;
  visibility: hidden;
  width: 0;
}
._9GOQzA {
  border: none;
  color-scheme: none;
  height: 100%;
  width: 100%;
}
.oO5mSg {
  background-color: #252627;
}
.unkgoA {
  visibility: hidden;
}
.e_hEvA {
  pointer-events: none;
}
.qMYeEg {
  position: relative;
}
.e6O_dg,
.l76JIA,
.qMYeEg {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.e6O_dg,
.l76JIA {
  left: 0;
  position: absolute;
  top: 0;
}
.zpdTQw {
  height: 0;
  visibility: hidden;
  width: 0;
}
.qPe0fg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.K9D_OA {
  position: relative;
}
.K9D_OA,
.h6ywtQ {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.vf__uA {
  height: 0;
  visibility: hidden;
  width: 0;
}
.UdBGaw {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.IBMTuw {
  height: calc(100% - 32px);
  padding: 16px;
  position: relative;
}
._7OZCBA {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.SOZxNA {
  background-color: var(--4RaSjg);
}
.JUWbjQ,
.SOZxNA {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.JUWbjQ {
  align-items: center;
  color: var(--VNXpSw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}
.LXErdA {
  font-size: 2rem;
  padding: 0 16px;
  text-align: center;
  word-break: break-word;
}
.LXErdA,
.llOjBg {
  box-sizing: border-box;
}
.llOjBg {
  border-radius: 4px;
  height: 80px;
  margin-bottom: 16px;
  margin-top: 16px;
  overflow: hidden;
  width: 80px;
}
@media (min-width: 600px) {
  .llOjBg {
    margin-bottom: 40px;
    margin-top: 24px;
  }
}
.JWExTQ {
  box-sizing: border-box;
  min-width: 100%;
}
.rhvG5w {
  max-height: 320px;
}
.ZmzMYg {
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}
.YMG5FA {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.dlcFuQ {
  align-items: stretch;
  background-color: var(--4RaSjg);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.sMaeAw {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
._4hipoA {
  word-wrap: anywhere;
  overflow-wrap: anywhere;
  -webkit-user-select: text;
  user-select: text;
}
.XoLDwg {
  display: none;
}
.DKmCjg {
  height: 100%;
}
.Pg4_Cg {
  background-color: rgba(53, 71, 90, 0.2);
  pointer-events: auto;
  position: absolute;
}
.KJ8TaA {
  height: 100%;
  width: 100%;
}
.JvY_6g {
  left: 0;
  position: absolute;
  top: 0;
}
.McZZkg {
  overflow: hidden;
}
.McZZkg,
.uLMX0g {
  pointer-events: auto;
}
.uLMX0g {
  align-items: center;
  background-color: #0d1216;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0.6;
  width: 100%;
}
/*# sourceMappingURL=sourcemaps/2550f4427166b037.ltr.css.map*/
