/* __FILE_CONTENT_FOR__:3ce075ebabbb460d.ltr.css */
.CS7eLA,
.SAKqhA {
  border-radius: 4px;
  display: flex;
  max-height: 100%;
  overflow: hidden;
}
.UxjeGA {
  padding: 16px;
}
/* __FILE_CONTENT_FOR__:d27bec5b696278eb.ltr.css */
.eQBSpA {
  border-color: var(--eGVbng);
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  padding: 8px 12px 8px 16px;
}
.p2dP_A {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
._5Uc39A {
  display: inline;
}
.UAI4cg {
  display: block;
}
._98uJow {
  height: 72px;
  width: 72px;
}
.CTgraw {
  height: 184px;
  width: 184px;
}
.TrqURw {
  height: 100%;
  width: 100%;
}
.NdEhNQ,
.XYYt0Q {
  border-radius: 4px;
  max-height: 192px;
  object-fit: cover;
  object-position: top;
  width: 100%;
}
._3l7Wlg,
.swHm8Q {
  width: 100%;
}
._3l7Wlg {
  border: 1px solid #ebecf0;
  border-radius: 4px;
  box-sizing: border-box;
}
.yGBmwg {
  max-height: 192px;
  object-fit: cover;
  object-position: top;
}
.kOJOwA {
  height: 72px;
  justify-self: center;
  width: 72px;
}
.axaHvA {
  width: 100%;
}
/* __FILE_CONTENT_FOR__:03732939f85fd647.ltr.css */
.dNIg1g {
  color: var(--VNXpSw);
  font-family:
    Canva Sans,
    Noto Sans Variable,
    Noto Sans,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  margin: 0;
  padding-bottom: 4px;
}
.opBJFw {
  color: var(--3V_biw);
}
.F345cw {
  display: inline-block;
  margin-top: 12px;
}
.t_WlAQ {
  border: 1px solid transparent;
  border-radius: var(--Y7ZPjA, 4px);
  padding: 8px;
}
._18dpZA {
  color: var(--VNXpSw);
  display: flex;
}
._0VfKJg {
  text-align: start;
}
._2Qu1rw {
  display: inline;
}
.t_WlAQ:hover {
  border-color: var(--9_Lxmw);
}
.t_WlAQ.MxQsIA {
  border: 1px solid var(--xAYPzA);
}
.t_WlAQ._2LIypQ {
  border: 2px solid var(--xAYPzA);
}
.NhO_yQ {
  margin-right: 4px;
}
.DPHroQ {
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 16px;
}
.VkMhMg div:first-child {
  padding-left: 8px;
}
.E_nYdw {
  color: var(--JEAqPw);
  font-weight: 400;
  text-decoration: underline;
}
._2ydoiw {
  margin-top: 12px;
}
.an6zpQ {
  margin-bottom: 8px;
}
.QkKW2g {
  margin-top: 16px;
}
._4r456g {
  margin-bottom: 16px;
}
.xakSxA {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
/* __FILE_CONTENT_FOR__:688f5935346e6e92.ltr.css */
.Pa31PQ {
  padding: 0 0 8px;
}
.WY8_cA {
  margin-bottom: 8px;
}
._4ZogWw {
  border: 0;
  display: inline-block;
  height: auto;
  margin-left: 4px;
  text-decoration: underline;
  vertical-align: baseline;
}
.zbBO3w {
  margin: 4px 0;
}
.iejr2g {
  display: flex;
  width: 56px;
}
.r0adjw {
  width: 40px;
}
.gH2ycw,
.r0adjw {
  border-radius: var(--Y7ZPjA, 4px);
}
.gH2ycw {
  border: 1px solid var(--Zya5eQ);
}
._2oL2QA {
  border-radius: 4px;
  height: 24px;
  width: auto;
}
.bYATxg {
  border: 1px solid var(--xAYPzA);
}
.swFrEA {
  padding: 8px;
}
.MZ8BLQ {
  height: 20px;
}
.MZ8BLQ:not(:last-child) {
  margin-right: 4px;
}
.sFT7cg {
  align-items: center;
}
.DZHD_Q,
.sFT7cg {
  color: var(--VNXpSw);
  display: flex;
}
.DZHD_Q {
  flex-direction: column;
}
.Yhl9mg {
  display: flex;
  line-height: 24px;
  margin-left: 8px;
  white-space: normal;
}
._2b9Wfg {
  color: var(--JEAqPw);
  filter: grayscale(1);
}
._qR8eQ {
  align-items: center;
  display: flex;
}
._qR8eQ:not(:last-child) {
  margin-bottom: 4px;
}
.b7fejQ,
.etewYQ {
  height: 24px;
  width: auto;
}
.IUKubA {
  width: 30px;
}
.HBcMdw,
.pqGcEQ,
.ztP4UA {
  height: 24px;
}
.fNmuNQ {
  width: auto;
}
.O6IIhQ,
.fNmuNQ {
  height: 18px;
}
.A24FAw,
.Bf3Yig,
._LPbLw,
.katz6A {
  height: 24px;
}
.GgZhEA {
  align-items: center;
  padding: 16px;
}
.GgZhEA > span {
  align-self: center;
  margin-top: 0;
}
.xs1CHQ {
  position: relative;
}
.C_RwAw:not(:first-child) {
  border-top: 1px solid var(--Zya5eQ);
}
.hq5wiA {
  border: 1px solid var(--Zya5eQ);
  border-radius: var(--Y7ZPjA, 4px);
}
.VM_WaQ {
  box-shadow: inset 0 0 0 2px var(--xAYPzA);
}
.RJXU1g {
  border: 1px solid var(--nOtbOg);
}
.nL5ovw:not(:empty) {
  padding: 0 16px 16px;
}
.oHry7w {
  margin-bottom: 8px;
}
.p4RATQ {
  margin: 0 0 4px;
}
._m2lrw {
  margin: 0 0 16px;
}
.JqCTbA,
.hxBpEg {
  display: flex;
  flex-direction: column;
}
.JqCTbA {
  align-items: flex-start;
  border: 1px solid var(--Zya5eQ);
  border-radius: var(--Y7ZPjA, 4px);
  height: 64px;
  justify-content: center;
  margin: 8px 0;
}
.YnAIYA {
  width: 100%;
}
.aOJU_g {
  align-items: stretch;
  border: 1px solid var(--Zya5eQ);
  border-radius: var(--Y7ZPjA, 4px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 9px;
}
.aOJU_g:hover {
  border: 1px solid var(--9_Lxmw);
}
.iICBsg {
  border: 2px solid var(--xAYPzA);
  padding: 8px;
}
.gUII_Q {
  display: flex;
  width: 100%;
}
.mZIsMw {
  flex-direction: column;
}
:not(.mZIsMw) > ._Mh1Eg {
  flex: 1;
}
:not(.mZIsMw) > ._Mh1Eg + ._Mh1Eg {
  margin-left: 8px;
}
.mZIsMw > ._Mh1Eg + ._Mh1Eg {
  margin-top: 8px;
}
/*# sourceMappingURL=https://chunk-composing.canva.com/chunk-batch-sm/2_sourcemaps/3ce075ebabbb460d.ltr.css.map+2_sourcemaps/d27bec5b696278eb.ltr.css.map+2_sourcemaps/03732939f85fd647.ltr.css.map+2_sourcemaps/688f5935346e6e92.ltr.css.map */
