/* __FILE_CONTENT_FOR__:56827eaa6606fa6b.ltr.css */
.f7sFtA {
  width: 96px;
}
._8Tu_5A {
  width: 48px;
}
/* __FILE_CONTENT_FOR__:01174bd967eb8147.ltr.css */

/* __FILE_CONTENT_FOR__:cf35129f51c409e8.ltr.css */
.B0aSMw,
.aSzYbA {
  width: 100%;
}
.B0aSMw {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}
.XvZw5g {
  border-radius: 0;
}
.TBsVYg {
  border-radius: var(--Y7ZPjA, 4px);
}
._4G_qtA {
  border-radius: var(--9hdJJA, 4px);
}
.nDWx_w {
  -webkit-mask-size: contain;
  mask-size: contain;
}
.fogMmA {
  mix-blend-mode: multiply;
}
.kCSyZA {
  mix-blend-mode: screen;
}
.tQzcDg {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.ntUmVA {
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 0 0;
}
.pIg6rA {
  overflow: hidden;
}
.Onl1Jg {
  width: 100%;
}
.QAjHxA {
  align-items: center;
  background: var(--KtXlRg);
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.QAjHxA,
.QlXu6Q {
  border-radius: 4px;
}
.QlXu6Q {
  background-color: var(--KtXlRg);
  padding: 4px 8px;
}
.Cs8bBg {
  position: relative;
}
.hlhQnA {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* __FILE_CONTENT_FOR__:e9677a3d501d9781.ltr.css */
.HXzgqA {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
}
.k62k3g {
  grid-gap: 12px;
  display: grid;
  -webkit-hyphens: auto;
  hyphens: auto;
  justify-items: center;
  position: relative;
  word-break: break-word;
}
.MRpFjg {
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
}
.cFPcfQ {
  display: block;
  line-height: 1.5rem;
}
.fY22FQ {
  height: 48px;
  width: 48px;
}
.Hs7Paw {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hp0_HA {
  height: 2rem;
  line-height: 1.2rem;
  width: 64px;
}
.XtpXwQ {
  width: 65%;
}
.nsTGAA {
  grid-column-gap: 8px;
  grid-row-gap: 16px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: center;
}
.a8SWwg {
  grid-column-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
._4OVBuA {
  color: var(--5F8MFw);
  font-size: 12px;
}
.aZZCww {
  grid-row-gap: 16px;
  display: grid;
  grid-template-columns: minmax(0, auto);
}
.Ai0Q2A {
  margin: 0 -16px;
}
/* __FILE_CONTENT_FOR__:777aa65e274c742b.ltr.css */
.nOnIrQ {
  border-radius: var(--Y7ZPjA, 4px);
  overflow: hidden;
  position: relative;
}
.EK4sMw {
  bottom: 8px;
  position: absolute;
  right: 8px;
}
.NMqOgg {
  width: 80px;
}
.CsBdwQ {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto minmax(0, 1fr);
  height: 100%;
  overflow-y: hidden;
}
._6WPtIw {
  border-bottom: 1px solid var(--OuCkCQ);
  padding: 8px 0;
}
.F6JwDQ,
._6WPtIw {
  box-sizing: border-box;
}
.F6JwDQ {
  height: 100%;
  overflow: hidden;
  padding: 8px 0 var(--safe-area-inset-bottom);
}
.gG4zNQ {
  padding: 8px 16px;
}
.hu3hwA {
  height: 40px;
  padding: 0;
  transition: background-color 0.1s ease-in-out;
}
.G7hJ6w {
  padding: 0 18px;
}
.Dg0LgA,
.Ycy4_A {
  height: 100%;
}
.Dg0LgA {
  grid-gap: 16px;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: minmax(0, 100%);
  grid-template-rows: auto minmax(0, 1fr);
  overflow-y: auto;
  padding-top: 24px;
}
.EAa_Cw,
.gPumFA {
  padding: 0 24px;
}
.EAa_Cw {
  align-content: center;
  display: grid;
}
.biDCvA {
  white-space: normal;
  width: 64px;
}
.vVzKmw {
  grid-row-gap: 8px;
  display: grid;
}
.cyjiVw {
  flex: 1;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
  z-index: 0;
}
.lqIzXw {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
._VMI3w {
  grid-row-gap: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(0, auto);
}
.fQBz4A {
  padding: 16px;
}
._65DsoA {
  max-height: 819.6px;
}
.VtBcQw {
  grid-row-gap: 2px;
  box-sizing: border-box;
  display: grid;
  padding: 4px 2px;
}
.oQhi9Q {
  margin: 0 16px;
}
.CGfymQ,
.KINCNg {
  grid-row-gap: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(0, auto);
}
/* __FILE_CONTENT_FOR__:2b5bc3c0c0846ca8.ltr.css */
.ptGXXA {
  display: none;
}
.PMU07g {
  align-items: center;
  background-color: var(--Shm3YQ);
  border-radius: 20px;
  display: inline-flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  padding: 4px;
  transition:
    background-color 0.1s linear,
    border-color 0.1s linear,
    color 0.1s linear;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.PMU07g._4KHyDQ {
  border-radius: 40px;
  padding: 8px;
}
.EgijNQ {
  color: var(--pj2xMA);
  padding: 0 2px;
}
._0QCmHA {
  visibility: hidden;
}
.yf45Zg {
  box-sizing: border-box;
  color: var(--VNXpSw);
  cursor: pointer;
  direction: ltr;
  display: flex;
  flex-direction: row;
  font-variant-numeric: tabular-nums;
  position: relative;
  width: 85%;
}
.yf45Zg.y8qHfA:before,
.yf45Zg:hover:before {
  background-color: var(--FFgy5g);
  bottom: 0.33em;
  content: "";
  height: 0.04em;
  position: absolute;
  width: 100%;
}
.gIuMPw {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.6;
}
.yf45Zg.jpkGKQ {
  color: var(--FFgy5g);
}
.yf45Zg.YY8JFw {
  color: var(--d1p99w);
}
.PRqlFQ,
.RlWFfg {
  letter-spacing: -2.5px;
  text-indent: -1.25px;
}
.PRqlFQ {
  background-color: inherit;
  border: none;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.bOtrkQ {
  color: var(--nwNs8w);
}
.PRqlFQ:focus {
  outline: none;
}
._FKL1A {
  visibility: hidden;
}
.I9aoaA {
  display: block;
  padding: 4px 0;
}
.hnr0mw {
  margin-bottom: 0;
  margin-left: 4px;
}
@keyframes AMC4BQ {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
._af6EQ {
  animation: AMC4BQ 1s linear infinite;
}
.Gf_ouw {
  height: 32px;
  width: 32px;
}
._67t8wg {
  border-radius: 28px;
  height: 52px;
  padding: 0 6px;
}
.LCjGUA,
._67t8wg {
  align-items: center;
  display: flex;
}
.LCjGUA {
  background-color: var(--4RaSjg);
  border-radius: 50%;
  height: 200px;
  justify-content: center;
  position: relative;
  width: 200px;
}
.LCjGUA.i36ItQ {
  background-color: var(--eGVbng);
}
.D0_gbA {
  height: inherit;
  position: absolute;
}
.rnTZ8Q {
  padding: 18px 0;
  position: relative;
  width: 85%;
}
.ETPlDA {
  position: absolute;
  top: -60px;
}
._h0m2A {
  stroke-width: 8px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 8px var(--Shm3YQ);
  pointer-events: none;
  transform: rotate(90deg) scaleX(-1);
}
._1yyxTA,
._7YXtUA,
.lb8HlA,
.p8BtRw,
.yEw6Ug {
  fill: none;
}
._1yyxTA {
  stroke: var(--eGVbng);
  stroke-dasharray: 0;
  box-shadow: none;
}
.Xm9hgw {
  stroke-dasharray: 603.18584px;
  height: 200px;
  width: 200px;
}
@keyframes oQVnFA {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
@keyframes OGOkJg {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.uUpSrA {
  position: relative;
}
.KXIsKw {
  color: var(---8UyGw);
  display: inline-block;
  min-width: 4.5ch;
  text-align: start;
}
.C0hkSA {
  height: 10.5px;
  left: 6px;
  position: absolute;
  top: 8px;
  width: 11px;
}
.SfJ1rA {
  animation: oQVnFA 1s ease-in-out 5;
}
.cSr0jA {
  animation: OGOkJg 1s linear infinite;
}
/* __FILE_CONTENT_FOR__:2969915898c95dd5.ltr.css */
._4iKiqA {
  height: 100%;
  width: 100%;
}
.pQuB_Q,
.pQuB_Q button,
.pQuB_Q div {
  cursor: none;
}
._8sZqNg {
  height: 10px;
  left: -10px;
  opacity: 0.01;
  pointer-events: none;
  position: absolute;
  top: -10px;
  width: 10px;
}
.light {
  --D_rk8Q: linear-gradient(0deg, hsla(0, 0%, 100%, 0.7) 0%, transparent);
}
.dark {
  --D_rk8Q: linear-gradient(0deg, rgba(37, 38, 39, 0.7) 0%, transparent);
}
.w8GPyg {
  background-color: #0d1216;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  width: 100%;
}
.YSKXGA {
  min-width: 0;
  overflow: hidden;
}
.Z8V0jA {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.NNiiuQ {
  grid-row-gap: 16px;
  box-sizing: border-box;
  display: grid;
  flex: 1;
  grid-area: main;
  grid-template: "banner" -webkit-min-content "player" 1fr/1fr;
  grid-template: "banner" min-content "player" 1fr/1fr;
  padding: var(--safe-area-inset-top) var(--safe-area-inset-right)
    var(--safe-area-inset-bottom) var(--safe-area-inset-left);
  position: relative;
  width: 100%;
}
.NNiiuQ._4RCWpw {
  grid-template: "player";
}
.NNiiuQ.F0bfQA {
  padding: 16px;
}
.dwYhIQ {
  grid-area: banner;
  padding: 16px 16px 0;
}
.wMbcdQ {
  box-sizing: border-box;
  padding: 16px;
}
.wMbcdQ.ye4Q_A {
  padding-top: 80px;
}
.Gu4flg {
  display: flex;
  grid-area: player;
  position: relative;
}
.O3osjg {
  height: 100%;
  left: 0;
  pointer-events: none;
  top: 0;
}
.O3osjg,
._10frKg {
  position: absolute;
  width: 100%;
}
._10frKg {
  bottom: 0;
}
._13fBgg {
  box-sizing: border-box;
  padding: 0 var(--safe-area-inset-right) var(--safe-area-inset-bottom)
    var(--safe-area-inset-left);
  width: 100%;
}
._13fBgg.A4BEeQ {
  -webkit-backdrop-filter: linear-gradient(
    0deg,
    blur(backgroundBlur) 0,
    blur(0)
  );
  backdrop-filter: linear-gradient(0deg, blur(backgroundBlur) 0, blur(0));
  background: var(--D_rk8Q);
  padding: 12px 28px 24px;
}
@supports (top: max(1px, 2px)) {
  ._13fBgg.A4BEeQ {
    padding: 12px calc(max(8px * 3.5, var(--safe-area-inset-right)))
      calc(max(8px * 3, var(--safe-area-inset-bottom)))
      calc(max(8px * 3.5, var(--safe-area-inset-left)));
  }
}
.poQcfw {
  left: 0;
  position: absolute;
  top: 0;
}
.poQcfw,
.psxSZA {
  box-sizing: border-box;
  width: 100%;
}
.psxSZA {
  background: linear-gradient(180deg, rgba(28, 39, 48, 0.5), transparent);
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
@supports (top: max(1px, 2px)) {
  .psxSZA {
    padding: calc(max(2 * 8px, var(--safe-area-inset-top)))
      calc(max(2 * 8px, var(--safe-area-inset-right))) 16px
      calc(max(2 * 8px, var(--safe-area-inset-left)));
  }
}
._7W6Oqg {
  height: 100%;
  pointer-events: none;
  width: 100%;
}
._7W6Oqg,
.u5uu9w {
  box-sizing: border-box;
  contain: strict;
  left: 0;
  position: absolute;
  top: 0;
}
.u5uu9w {
  background-color: #00c4cc;
  border-radius: 100%;
  height: 32px;
  opacity: 0.9;
  transform: scale(0);
  width: 32px;
}
.t4iLcw,
.u5uu9w.i2De8g {
  transition: transform 1s;
}
.t4iLcw {
  animation: tkWxZg 0.6s cubic-bezier(0, 0, 0.2, 1);
  background-color: #00c4cc;
  border-radius: 50%;
  height: 32px;
  opacity: 0;
  position: absolute;
  transform: scale(0);
  width: 32px;
}
@keyframes tkWxZg {
  0% {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}
.NSPwaw {
  position: relative;
}
.DIpRqA,
.NSPwaw {
  height: 100%;
  width: 100%;
}
[dir="ltr"] ._1fLCfA,
[dir="rtl"] ._1fjYug {
  cursor:
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='33' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill='currentColor' stroke='%23fff' stroke-width='1.5' d='M23.5 12.75h-9.8l3.1-3.1a1.5 1.5 0 1 0-2.12-2.11l-4.95 4.95a2.5 2.5 0 0 0 0 3.53l4.95 4.95a1.5 1.5 0 1 0 2.12-2.12l-3.1-3.1h9.79a1.5 1.5 0 0 0 0-3Z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='40' height='40' x='-3' y='-4' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeColorMatrix values='0 0 0 0 0.054902 0 0 0 0 0.0745098 0 0 0 0 0.0941176 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='.5'/%3E%3CfeColorMatrix values='0 0 0 0 0.054902 0 0 0 0 0.0745098 0 0 0 0 0.0941176 0 0 0 0.02 0'/%3E%3CfeBlend in2='effect1_dropShadow' result='effect2_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect2_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E")
      16 14,
    w-resize;
}
[dir="ltr"] ._1fjYug,
[dir="rtl"] ._1fLCfA {
  cursor:
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='33' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill='currentColor' stroke='%23fff' stroke-width='1.5' d='M10.5 12.75h9.79l-3.1-3.1a1.5 1.5 0 1 1 2.12-2.11l4.95 4.95a2.5 2.5 0 0 1 0 3.53l-4.95 4.95a1.5 1.5 0 1 1-2.12-2.12l3.1-3.1H10.5a1.5 1.5 0 1 1 0-3Z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='40' height='40' x='-3' y='-4' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeColorMatrix values='0 0 0 0 0.054902 0 0 0 0 0.0745098 0 0 0 0 0.0941176 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='.5'/%3E%3CfeColorMatrix values='0 0 0 0 0.054902 0 0 0 0 0.0745098 0 0 0 0 0.0941176 0 0 0 0.02 0'/%3E%3CfeBlend in2='effect1_dropShadow' result='effect2_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect2_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E")
      16 14,
    e-resize;
}
.light {
  --snAkZw: hsla(0, 0%, 100%, 0.7);
}
.dark {
  --snAkZw: rgba(37, 38, 39, 0.7);
}
._19jksw {
  grid-column-gap: 4px;
  align-items: center;
  background: var(--snAkZw);
  border-radius: 8px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  padding: 4px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.vI0QHg {
  white-space: nowrap;
}
.h0eHNA {
  pointer-events: auto;
}
.guItPA {
  pointer-events: none;
}
.XykPLw,
.ZyP7rQ {
  width: 100%;
}
.XykPLw {
  pointer-events: auto;
}
.DGwyDg {
  grid-column-gap: 12px;
  -webkit-backdrop-filter: blur(backgroundBlur);
  backdrop-filter: blur(backgroundBlur);
  background: var(--F6F2NQ);
  display: flex;
  height: 56px;
  justify-content: space-between;
  padding: 0 28px;
}
._3jzrIw {
  grid-column-gap: 8px;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
}
[dir="ltr"] .sk8dKw {
  transform: scaleY(-1) rotate(220deg);
}
[dir="rtl"] .sk8dKw {
  transform: rotate(40deg);
}
._56lZ0A {
  pointer-events: auto;
  width: 100%;
}
._56lZ0A.w6Prew {
  padding-bottom: 8px;
  padding-top: 8px;
}
.VI7aNw {
  overflow: hidden;
  width: 100%;
}
._0Km9sA {
  background-color: #00c4cc;
  height: 100%;
  transform-origin: left;
  transition: transform 0.2s ease-in;
}
.VmEYoQ {
  background-color: hsla(0, 0%, 100%, 0.15);
  height: 4px;
  transform-origin: center bottom;
}
.VmEYoQ.q45oNA {
  transition: transform 0.2s ease-in;
}
.VmEYoQ.Jh6ynw {
  transform: scaleY(2);
}
.amYcJw:focus-visible + .VmEYoQ {
  outline: 2px solid var(--xAYPzA);
}
._4XrS_A._4npCiA {
  transition: none;
}
.RSnkOA {
  background: unset;
  border: unset;
  cursor: pointer;
  display: block;
  margin: 0;
  outline: none;
  padding: 20px 0 0;
  width: 100%;
}
.yZqrDg {
  position: relative;
  width: 100%;
}
.kEWOGQ {
  display: block;
}
.RjwOeA {
  left: 0;
  position: absolute;
  top: 8px;
}
.tdNe2Q {
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}
.yhoJKg {
  display: block;
  opacity: 1;
}
.V13qCw {
  animation: _2TeOHg 0.3s ease-in forwards;
  display: block;
}
.oFkrSg {
  animation: _2TeOHg 0.3s ease-in reverse forwards;
}
.JOwmMg {
  display: none;
  opacity: 0;
}
@keyframes _2TeOHg {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.WT34_g {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.f9XIew {
  margin-top: 48px;
}
.C0PWmg {
  background-color: var(--C-q6Ig);
  bottom: 0;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.C0PWmg,
.wgiZXQ {
  align-items: center;
  display: flex;
}
.wgiZXQ {
  pointer-events: auto;
  width: 256px;
}
._9UU9gw {
  flex: 1;
  visibility: hidden;
}
.R93yMA {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: jghgtQ;
  visibility: visible;
}
@keyframes jghgtQ {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.b6WnZw {
  bottom: 10%;
  bottom: max(10%, 72px);
  pointer-events: none;
  position: absolute;
  width: 100%;
}
.EQVU1Q {
  background: var(--Tp54Vw);
}
[dir="ltr"] .dIUp9g {
  transform: scaleY(-1) rotate(220deg);
}
[dir="rtl"] .dIUp9g {
  transform: rotate(40deg);
}
.Wd_0FQ {
  align-items: center;
  display: flex;
  height: 32px;
  padding: 0 8px;
}
.gOs2EA {
  position: relative;
}
.w3SV4A {
  font-size: 1.2rem;
  font-weight: 700;
  right: -8px;
  top: -8px;
}
.w3SV4A,
.xHkWNg {
  position: absolute;
}
.xHkWNg {
  background-color: #f84856;
  border-radius: 50%;
  height: 8px;
  right: -4px;
  top: -4px;
  width: 8px;
}
.dRIslQ {
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
  position: relative;
  width: 100%;
}
.d4TOpw,
.dRIslQ {
  align-items: center;
  display: flex;
}
.d4TOpw {
  flex: 1 1 auto;
  max-width: 240px;
}
.RR6vdw,
.u8U8Ag {
  margin-bottom: 20px;
  width: 200px;
}
.RR6vdw {
  height: 200px;
}
.l5km2Q {
  margin-top: 8px;
}
.w2ntyw {
  position: absolute;
  right: 0;
  top: 0;
}
.QTQidg {
  height: 24px;
  pointer-events: auto;
}
._3CAP7A {
  width: 10px;
}
._7r1m6A {
  width: 20px;
}
.OlAf7w {
  width: 30px;
}
.i8uyCw {
  direction: ltr;
  display: grid;
  place-items: center;
}
.i8uyCw,
.m_U7nQ {
  position: relative;
}
.m_U7nQ {
  -webkit-user-select: none;
  user-select: none;
}
.Khtu_w {
  transition: transform 0.2s;
}
._7m9YXQ {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.kN573Q {
  cursor: grab;
}
.cQOgeg {
  cursor: grabbing;
}
.etYr_A {
  cursor: zoom-in;
}
.umIf3w {
  -webkit-user-select: text;
  user-select: text;
}
.cYjE6g {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content;
}
.cw5law {
  font-variant-numeric: tabular-nums;
}
.vPnNMA {
  height: 0;
  overflow: hidden;
}
.CKP5yQ {
  align-items: center;
  display: flex;
}
.CKP5yQ > :not(:last-child) {
  margin-right: 8px;
}
._fosTQ {
  width: 360px;
}
._6xl8ag,
._fosTQ {
  box-sizing: border-box;
}
._6xl8ag {
  background: var(--Tp54Vw);
  contain: strict;
  height: 100%;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.IyWfsg {
  border-radius: 50%;
  height: 8px;
  width: 8px;
}
.IyWfsg.ZgZFdA {
  background-color: #61bd62;
}
.IyWfsg.Wf4d3w {
  background-color: #6ba9ff;
}
.IyWfsg.Mubcgw {
  background-color: #fdbc68;
}
.IyWfsg.gka4hA {
  background-color: #fd4958;
}
.IyWfsg.Xnb_iA {
  background-color: var(--VNXpSw);
}
.pGpypg {
  background-color: var(--4RaSjg);
  border-radius: 4px;
  box-shadow: var(--I1zgHQ);
}
.pGpypg.Q5uxtw {
  width: 320px;
}
._3E83qg {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 16px 12px;
}
.WhEGgw {
  border-color: var(--OuCkCQ);
  border-width: 1px;
  margin: 0;
  width: 100%;
}
._1X5uow {
  grid-row-gap: 16px;
  display: grid;
  justify-items: center;
  padding: 16px;
}
.RNphPg {
  border-radius: 8px;
  flex-shrink: 0;
  height: 132px;
  overflow: hidden;
  width: 132px;
}
._3x3z1g {
  pointer-events: auto;
  position: absolute;
  right: 32px;
  top: 72px;
  transform-origin: center;
}
@keyframes Br9pCg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
.Ows4sw {
  background-color: var(--4RaSjg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 224px;
}
.Ows4sw._3fiXiQ {
  max-width: 400px;
}
.dark {
  --Gz-abA: #fff;
}
.light {
  --Gz-abA: rgba(28, 39, 48, 0.5);
}
.fxfbWg {
  background-color: var(--Zya5eQ);
  border-radius: 2px;
  height: 4px;
  transform: translateY(-50%);
  width: 100%;
}
.Ps8JQg,
.fxfbWg {
  position: absolute;
  top: 50%;
}
.Ps8JQg {
  background: var(--VfoYEg);
  border-radius: 50%;
  filter: drop-shadow(0 0 1px rgba(28, 39, 48, 0.5));
  height: 20px;
  left: 100%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;
  width: 20px;
}
.Ps8JQg.UsHhVQ {
  transform: translate(-50%, -50%) scale(1.25);
}
.CLu5xQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.CLu5xQ > ._8d8_Eg:not(:last-child) {
  margin-bottom: 16px;
}
._8d8_Eg {
  display: grid;
  grid-template: "start end" -webkit-min-content/1fr 1fr;
  grid-template: "start end" min-content/1fr 1fr;
  width: 100%;
}
.KC7zkA {
  align-items: center;
  display: flex;
  grid-area: start;
  place-self: start;
}
.KC7zkA > :not(:last-child) {
  flex-shrink: 0;
  margin-right: 12px;
}
.B0lQZA {
  align-items: center;
  display: flex;
  grid-area: end;
  place-self: end;
}
.FhIfFw {
  width: 100%;
}
.YZTNkw {
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.DFFjrA,
.YZTNkw {
  display: flex;
  height: 100%;
}
.DFFjrA {
  font-variant-numeric: tabular-nums;
}
.DFFjrA._46HiYw {
  visibility: hidden;
  width: 0;
}
.rUKaow {
  display: flex;
  height: 100%;
}
.qieynA {
  align-items: center;
  display: flex;
}
.qieynA:not(:first-child) {
  margin-left: 8px;
}
.Jk9MAg {
  background-color: var(--OuCkCQ);
  height: 75%;
  margin: 0 16px;
  width: 1px;
}
.vBADUg {
  color: var(--VNXpSw);
}
.LSMNLw {
  grid-column-gap: 8px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 8px 12px;
  place-items: center;
}
.LSMNLw._WeTjA {
  background-color: var(--jTT_jQ);
  color: var(--eLjurg);
}
.LSMNLw.gCzpkA {
  background-color: var(--Shm3YQ);
  color: var(--pj2xMA);
}
.LSMNLw.p2Gu6w {
  background-color: var(--KtXlRg);
  color: var(--6u-yJQ);
}
.LSMNLw.vdvlyg {
  animation: UKPTSQ 0.8s ease-in 6 alternate;
}
@keyframes UKPTSQ {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
._5hF0Bg {
  align-items: center;
  display: flex;
}
.Nwo3dw + .Nwo3dw {
  margin-left: 8px;
}
._9I3dxQ {
  min-width: 96px;
}
.NlMitA {
  height: 100%;
  position: relative;
  width: 100%;
}
/* __FILE_CONTENT_FOR__:3a37d3183c00b4f5.ltr.css */
._6WT7HA {
  align-items: center;
  background-color: rgba(13, 18, 22, 0.86);
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
}
@supports (
  (-webkit-backdrop-filter: blur(64px)) or (backdrop-filter: blur(64px))
) {
  ._6WT7HA {
    -webkit-backdrop-filter: blur(64px);
    backdrop-filter: blur(64px);
    background-color: rgba(13, 18, 22, 0.7);
  }
}
.r4WPSw {
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  max-width: 100%;
  padding: 40px;
  pointer-events: auto;
}
.r4WPSw > :first-child {
  min-width: 0;
}
.rixlAw {
  height: 100%;
}
.yVXB0Q {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
}
.s_mO2w {
  font-weight: 400;
  overflow-y: auto;
  padding-bottom: 1px;
}
.exgjGA {
  opacity: 0;
}
.kRKNmA {
  transition: opacity 0.25s ease-in-out;
}
.UCz3Dg,
.kRKNmA {
  opacity: 1;
}
.LyjS0Q {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
._0N4q6g {
  transform: scale(0.8);
}
._6y8Rxw {
  transition: transform 0.25s ease-in-out;
}
.XNhBbg,
._6y8Rxw {
  transform: scale(1);
}
.xXtxpA {
  transform: scale(0.8);
  transition: transform 0.25s ease-in-out;
}
._DD2Nw {
  display: flex;
  height: 100%;
  justify-content: center;
  padding-top: 16px;
  width: 100%;
}
._DD2Nw > :not(:last-child) {
  margin-right: 32px;
}
.aEhS0w {
  flex-shrink: 0;
  width: 144px;
}
.v1C1hw {
  align-items: center;
  color: var(--VNXpSw);
  display: flex;
  height: 144px;
}
.GlIanQ {
  font-weight: 400;
}
.GSvzJw {
  margin-bottom: 32px;
  margin-top: 32px;
}
._69DfOQ {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px 8px;
  transition: background-color 0.1s ease-in-out;
  width: 100%;
}
._69DfOQ.Q6zR7Q {
  outline: none;
}
._69DfOQ.__omuQ,
._69DfOQ.__omuQ.oE4GwQ,
._69DfOQ:focus {
  background: var(--MghLXQ);
  cursor: pointer;
}
._69DfOQ.oE4GwQ {
  background: var(--3R4u8w);
}
.DTfasQ {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}
.VH_EoA {
  display: flex;
  overflow: hidden;
}
.OjY_Gw {
  flex-shrink: 0;
  padding-right: 8px;
}
._wHY2g {
  flex: 1;
  overflow: hidden;
}
.S_qftg {
  display: flex;
  padding-top: 6px;
}
.Y9fRlw {
  border: 1px solid var(--Zya5eQ);
  border-radius: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 6px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.Y9fRlw._6UCIvQ {
  background-color: var(--Shm3YQ);
  border: 1px solid var(--xAYPzA);
}
.sm9hzA {
  margin-left: 6px;
}
.MsthiQ {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
._OeK3Q {
  box-sizing: border-box;
  color: var(--JEAqPw);
  overflow: hidden;
}
._OeK3Q,
.loDYxQ {
  height: 100%;
  width: 100%;
}
.loDYxQ {
  grid-row-gap: 16px;
  align-content: center;
  display: grid;
  justify-content: center;
  justify-items: center;
}
.KccPEA {
  height: 48px;
  width: 48px;
}
.m2ZRlg {
  max-width: 250px;
}
.UHJ5YA {
  -webkit-overflow-scrolling: touch;
  background: transparent;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 8px;
  width: 100%;
}
.rRjFig + .rRjFig {
  margin-top: 8px;
}
.dyKBaQ {
  color: var(--5F8MFw);
}
.C0xnxg {
  display: flex;
  flex-direction: column;
}
.C0xnxg,
._54gIdg {
  height: 100%;
  width: 100%;
}
/* __FILE_CONTENT_FOR__:6a7d8cb05866196e.ltr.css */
.CCjO7Q {
  position: relative;
}
/* __FILE_CONTENT_FOR__:99c3797f1438cb29.ltr.css */
._2_hQ5Q,
.gYk8kQ {
  align-items: center;
  color: var(--VNXpSw);
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
}
._3n086A {
  width: 40px;
}
.qkvH5g {
  width: 40%;
}
.Krr9tA {
  color: var(--VNXpSw);
  font-weight: 600;
}
.SaSorg {
  cursor: pointer;
  display: block;
  flex-grow: 1;
  text-align: start;
  width: auto;
}
.A30k2g {
  position: relative;
  transition: transform 0.15s linear;
}
.cdGV7w {
  transform: rotate(180deg);
}
.U_vlLQ {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}
.f9Y__Q {
  opacity: 0.5;
}
.ONrhqw {
  padding: 8px 0;
}
.NvPXvg,
.YW9H8A {
  position: relative;
}
.NvPXvg {
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  width: 40px;
}
.Th4ZHQ {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.Th4ZHQ,
.e1qKDA {
  position: absolute;
}
.e1qKDA {
  background-color: #fff;
  border-radius: 8px;
  right: -4px;
  top: -4px;
}
.cuf_Og,
.sR4O_w {
  position: relative;
}
.sR4O_w {
  align-items: center;
  background-color: var(--Shm3YQ);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  width: 40px;
}
.cskkoQ {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}
.oMAMhQ {
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
  margin-right: 8px;
  overflow: hidden;
  position: relative;
  width: 40px;
}
.Y66Rvg {
  flex: 0.6 0 auto;
}
.g__Qhw {
  height: 64px;
  position: relative;
  width: 64px;
}
._6sCSog {
  align-items: center;
  background-color: var(--Shm3YQ);
  box-sizing: border-box;
  color: var(--pj2xMA);
  display: flex;
  justify-content: center;
}
.prl7dg {
  border-radius: 4px;
  object-fit: contain;
  overflow: hidden;
}
.prl7dg:after {
  background-color: #ebecf0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
._XwF_Q {
  width: auto;
}
/* __FILE_CONTENT_FOR__:aea210f437b7c6f1.ltr.css */
._619oBw {
  align-items: center;
  display: flex;
  height: auto;
}
.A69wjA {
  width: 100%;
}
._8H4yug > :not(:first-child) {
  margin-top: 16px;
}
.iTTQdg > :first-child {
  margin-bottom: 4px;
  margin-top: 4px;
}
/* __FILE_CONTENT_FOR__:ea719847e6fe8552.ltr.css */
._10qgYQ {
  width: 320px;
}
._4_Dj1g {
  width: 100%;
}
._4jCDIQ,
._lIwfQ {
  height: 120px;
}
/* __FILE_CONTENT_FOR__:61d985fa94fbe8dc.ltr.css */
.M9qrlQ {
  background-color: var(--Shm3YQ);
  border-radius: 8px;
  transition: background-color 0.15s ease-in-out;
}
.M9qrlQ:hover {
  background-color: var(--z7Xq7A);
}
._63UvWA {
  bottom: 1px;
  margin-left: 8px;
  position: relative;
}
.KX5FvQ {
  border-radius: 8px 8px 0 0;
}
.XjeiGg {
  background-color: var(--Shm3YQ);
  border-radius: 8px;
}
/*# sourceMappingURL=https://chunk-composing.canva.com/chunk-batch-sm/2_sourcemaps/56827eaa6606fa6b.ltr.css.map+2_data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiI1YTA2NzFkYzVhMDAyYmZkLmx0ci5jc3MifQ==+2_sourcemaps/cf35129f51c409e8.ltr.css.map+2_sourcemaps/e9677a3d501d9781.ltr.css.map+2_sourcemaps/777aa65e274c742b.ltr.css.map+2_sourcemaps/2b5bc3c0c0846ca8.ltr.css.map+2_sourcemaps/2969915898c95dd5.ltr.css.map+2_sourcemaps/3a37d3183c00b4f5.ltr.css.map+2_sourcemaps/6a7d8cb05866196e.ltr.css.map+2_sourcemaps/99c3797f1438cb29.ltr.css.map+2_sourcemaps/aea210f437b7c6f1.ltr.css.map+2_sourcemaps/ea719847e6fe8552.ltr.css.map+2_sourcemaps/61d985fa94fbe8dc.ltr.css.map */
