/* __FILE_CONTENT_FOR__:91e5f180d74e949a.ltr.css */
.CxPdTg {
  padding: 24px;
}
.Yhj7rA {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}
.kfydAA {
  height: 78px;
  margin: 24px;
}
._1DOhg {
  margin-bottom: 16px;
}
.DbyeUg {
  text-decoration: none;
}
.RhfkCw {
  margin-top: 24px;
  text-align: center;
}
.tzbW_Q {
  bottom: 0;
  margin-bottom: 44px;
  position: absolute;
}
.vK_9gQ {
  margin-top: 24px;
}
.ZSBEFw {
  flex: 1 1 auto;
}
.KcrfkQ {
  margin-bottom: 16px;
  width: 100%;
}
.KcrfkQ:last-child {
  margin: 0;
}
@media (min-width: 600px) {
  .CxPdTg {
    padding: 32px;
    width: 480px;
  }
  .vK_9gQ {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .KcrfkQ {
    margin: 0 0 0 16px;
    width: auto;
  }
  .KcrfkQ:last-child {
    margin: 0;
  }
}
/* __FILE_CONTENT_FOR__:81cb89bfcd774d79.ltr.css */
.b2QElg {
  overflow: hidden;
}
.VrkzUg,
.b2QElg,
.rhEOpQ {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.VrkzUg {
  justify-content: flex-end;
  padding-top: 16px;
}
/* __FILE_CONTENT_FOR__:e58a63e032339ce0.ltr.css */
.hF7X1w {
  height: 16px;
}
._6_cgOw {
  height: 40px;
}
._3uNePw {
  padding: 32px;
  width: 408px;
}
.n7Mm_g {
  max-width: 472px;
}
@media (min-width: 600px) {
  .n7Mm_g {
    width: 600px;
  }
}
.FUQicQ {
  max-width: 408px;
  padding: 32px;
}
.EJpCSg {
  display: flex;
  justify-content: flex-end;
}
.CCIOFw {
  padding: 32px;
  width: 432px;
}
.sEd7zg {
  margin-bottom: 16px;
}
/* __FILE_CONTENT_FOR__:6d0b4d1503d29b08.ltr.css */
.wc97kA {
  box-sizing: border-box;
  height: 56px;
  position: relative;
  width: 56px;
}
.v_SJ4Q,
.wc97kA {
  align-items: center;
  display: flex;
  justify-content: center;
}
.v_SJ4Q {
  height: 48px;
  overflow: hidden;
  position: absolute;
  width: 48px;
}
.opIUDw {
  border: 2px solid var(--xAYPzA);
  border-radius: 8px;
}
.DaYX6A {
  background: linear-gradient(180deg, transparent 50%, var(--kTBxcw) 75%);
  border-radius: 4px;
  height: 100%;
  opacity: 0.5;
  width: 100%;
}
.DaYX6A,
._1BqSKA {
  position: absolute;
}
._1BqSKA {
  bottom: 2px;
  left: 4px;
}
.AMZzSA {
  color: #fff;
}
.Liz6cg {
  position: absolute;
}
.mfvQig {
  scrollbar-width: none;
}
.mfvQig::-webkit-scrollbar {
  display: none;
}
.G1EvZw {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 12px 8px;
}
.E5rb8w {
  width: 40px;
}
._7cYPtw {
  border-top-left-radius: var(--9hdJJA, 4px);
  border-top-right-radius: var(--9hdJJA, 4px);
}
.Pw056w,
.chB3Rg {
  border-bottom-left-radius: var(--9hdJJA, 4px);
  border-bottom-right-radius: var(--9hdJJA, 4px);
}
.v4L0bg {
  margin: 0;
  padding-left: 24px;
}
.xslJ3A {
  grid-gap: 16px;
  display: grid;
  justify-items: center;
  padding-bottom: 16px;
}
._7OHgDw {
  width: 84px;
}
.e6HSDA {
  height: 140px;
  width: 140px;
}
.jdb_fg {
  background-image: linear-gradient(to bottom right, #00c4cc, #7d2ae8);
  border-radius: 8px;
  width: 100%;
}
.jdb_fg .e6HSDA {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: var(--Lbw_Mw);
  box-sizing: border-box;
  padding: 4px;
}
/* __FILE_CONTENT_FOR__:ab35c09ae21b1480.ltr.css */
.WnY7xA {
  margin-right: -4px;
}
/* __FILE_CONTENT_FOR__:a6385c7c88919ac8.ltr.css */
.f1l4DQ {
  position: relative;
}
.NZKi1A {
  background-color: var(--Shm3YQ);
  border-radius: 4px;
  display: block;
  height: 72px;
  object-fit: cover;
  width: 72px;
}
.YTiilg {
  bottom: 8px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.RXlnRg {
  display: flex;
  position: relative;
}
.GlH2jQ {
  position: absolute;
  transform: translate(-50%, -50%);
}
.aY5IhA {
  margin-top: 16px;
}
/* __FILE_CONTENT_FOR__:3a5b134d750eeee4.ltr.css */
.Q5iR5Q {
  animation: Ng4f6g 0.3s ease-in-out;
  max-width: 375px;
  z-index: 1;
}
.pkmorQ {
  max-height: 50vh;
  overflow: auto;
}
.ut3LoA {
  overflow: hidden;
}
.SZuVog {
  margin-top: 16px;
}
@keyframes Ng4f6g {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* __FILE_CONTENT_FOR__:91954355e12b0204.ltr.css */
.Q_D4TQ {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.Q_D4TQ.RF_6xg {
  height: 100%;
  width: 100%;
}
.Q_D4TQ.mqzozQ {
  height: 276px;
  width: 400px;
}
.xwsWSQ {
  height: auto;
  position: absolute;
  width: 700px;
}
.ygan3A {
  transform: translateY(-112px);
  width: 580px;
}
._8XpjvQ {
  transform: translateY(112px) rotate(180deg);
  width: 580px;
}
.ptWX3g {
  width: 164px;
}
.BuQt1w {
  display: flex;
  height: 100vh;
  justify-content: end;
  pointer-events: none;
  position: absolute;
  width: 100vw;
}
.ocFLnw {
  margin: 8px;
  pointer-events: all;
}
/* __FILE_CONTENT_FOR__:1b9849f7c63df0a7.ltr.css */
.OoKsfA {
  box-sizing: border-box;
  padding: 16px;
  width: 320px;
}
.OoKsfA,
.a9a9Hw {
  display: flex;
  flex-direction: column;
}
.a9a9Hw {
  margin-bottom: 8px;
}
.oUBUIQ {
  display: flex;
  justify-content: space-between;
}
.u7b7kQ {
  align-items: center;
  display: flex;
  height: 24px;
}
.A_MgSw {
  flex: 1 1 auto;
}
.AonwXw {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 16px;
}
.xdLHUA {
  margin: 0 8px;
  padding: 0 16px;
}
.xdLHUA,
.yZjnJA {
  background: none;
}
.nhsafA {
  padding: 0 16px;
}
.wsq7Ug {
  margin-bottom: 12px;
}
.mnV5vQ {
  margin-top: -8px;
}
.E_o7vg {
  border-radius: 8px;
  width: 100%;
}
.UtHHiw {
  height: 74px;
  width: 100%;
}
._8_DcbA {
  padding: 8px 0;
}
.ACn7sw {
  position: relative;
}
.zt_BMA {
  margin-top: 8px;
}
.y8RSMw {
  position: relative;
}
._8gSMBg {
  display: block;
  margin: 0 auto;
}
._8EnAYA {
  right: 48px;
  top: 48px;
}
._8EnAYA,
.c3Ui1w {
  position: absolute;
}
.c3Ui1w {
  left: -16px;
  top: 20px;
}
.C452cg {
  height: 100%;
  width: 100%;
}
.B15A3Q {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 8px;
  width: 208px;
}
.kQODEw {
  flex: 1 1 auto;
}
.u3H4lQ {
  background: none;
  border: none;
  color: hsla(0, 0%, 100%, 0.7);
  cursor: pointer;
  outline: none;
  padding: 0;
}
.u3H4lQ:hover {
  color: #fff;
}
.CX011Q {
  border-radius: 8px;
  margin-bottom: 12px;
  overflow: hidden;
}
._6oDHQg {
  position: relative;
}
._9mu_CQ {
  height: 100px;
  top: -50px;
}
.GVRgCw {
  position: absolute;
  right: 0;
  top: 112px;
}
.fCQupg {
  background: radial-gradient(
    ellipse 50% 50% at center 50%,
    rgba(125, 43, 233, 0.2),
    rgba(125, 43, 233, 0)
  );
  color: var(--VNXpSw);
  overflow: hidden;
  width: 300px;
}
.w0_czg {
  display: flex;
  justify-content: space-between;
  margin: 0 16px 16px 0;
}
.OQgX7g {
  border-radius: 0 12px 12px 0;
  box-shadow: var(--IHjXIQ);
  padding-left: 4px;
}
._4u7jKw {
  margin: 0 16px;
}
._4fBSXQ {
  display: flex;
  justify-content: space-between;
  margin: 0 0 4px;
}
.Q1yPmg {
  display: flex;
  flex-direction: row-reverse;
  margin: 16px 16px 0;
}
._2ZwWkQ,
.ye5awg {
  position: relative;
}
._2ZwWkQ {
  right: -16px;
  z-index: -1;
}
.jwd8PQ {
  color: #fff;
  width: 264px;
}
.YfMIIA {
  margin-bottom: 4px;
}
._4VxC_g {
  margin-bottom: 16px;
}
._4FwOQg {
  align-items: center;
  background: transparent;
  box-shadow: inset 0 0 0 368px #7d2ae8;
  display: flex;
  height: 840px;
  justify-content: center;
  left: 0;
  opacity: 0.9;
  top: 0;
  width: 840px;
}
._4FwOQg,
.vt_i2A {
  border-radius: 50%;
  box-sizing: border-box;
}
.vt_i2A {
  box-shadow: 0 0 0 16px hsla(0, 0%, 100%, 0.7);
  height: 104px;
  width: 104px;
}
.RDfO5Q {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
._97Ftbg {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}
.X_AuEg {
  animation: cd9jJA 1s linear infinite;
}
.sL6LFg {
  animation: qD2w4Q 1s linear infinite;
}
@keyframes cd9jJA {
  0% {
    box-shadow: inset 0 0 0 368px #7d2ae8;
  }
  50% {
    box-shadow: inset 0 0 0 360px #7d2ae8;
  }
  to {
    box-shadow: inset 0 0 0 368px #7d2ae8;
  }
}
@keyframes qD2w4Q {
  0% {
    box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0);
  }
  50% {
    box-shadow: 0 0 0 16px hsla(0, 0%, 100%, 0.7);
  }
  75% {
    box-shadow: 0 0 0 32px hsla(0, 0%, 100%, 0.3);
  }
  to {
    box-shadow: 0 0 0 80px hsla(0, 0%, 100%, 0);
  }
}
._4PTRgA {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
._4PTRgA,
.xppq6w {
  position: absolute;
}
.xppq6w {
  bottom: 16px;
  right: 16px;
}
.rqUTjg {
  height: auto;
  width: 100%;
}
.RLkbDw {
  position: absolute;
  right: 0;
  top: 112px;
}
.cP6oAg {
  width: 305px;
}
.nD4ltQ {
  padding: 8px 24px 24px;
}
.No1DHQ {
  object-fit: cover;
  object-position: top;
  width: 100%;
}
.Qs4KKQ {
  position: relative;
}
.sW2TIg {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.iAMzIQ,
.sW2TIg {
  position: absolute;
}
.iAMzIQ {
  top: 50%;
}
.PbhZZw {
  top: 112px;
}
.MSXfVQ,
.PbhZZw {
  position: absolute;
  right: 0;
}
.MSXfVQ {
  top: 36px;
}
.IJ3zQQ {
  right: 300px;
  top: 172px;
}
.IJ3zQQ,
.X0so_A {
  position: absolute;
}
.X0so_A {
  bottom: calc(90vh - 24px);
  right: 400px;
}
.X0so_A.aQciPQ {
  bottom: -9999px;
}
@media (min-height: 860px) {
  .X0so_A {
    bottom: 748px;
  }
}
._2sl0OA {
  top: 28px;
}
.Eb0mJw,
._2sl0OA {
  position: relative;
}
.light {
  --D5yL2Q: rgba(139, 61, 255, 0.6);
  --9kO85w: hsla(0, 0%, 100%, 0);
}
.dark {
  --D5yL2Q: rgba(139, 61, 255, 0.7);
  --9kO85w: rgba(53, 71, 90, 0.2);
}
.KaTVyQ {
  animation: QcNcFQ 1s ease-in-out infinite;
  border-radius: 50%;
}
@keyframes MkSUUg {
  0% {
    box-shadow: 0 0 0 0 rgba(139, 61, 255, 0.6);
  }
  to {
    box-shadow: 0 0 0 8px hsla(0, 0%, 100%, 0);
  }
}
@keyframes QcNcFQ {
  0% {
    box-shadow: 0 0 0 0 var(--D5yL2Q);
  }
  to {
    box-shadow: 0 0 0 8px var(--9kO85w);
  }
}
.xRz7Ug {
  height: 100%;
  width: 100%;
}
.k6sW8Q,
.xRz7Ug {
  position: absolute;
}
.k6sW8Q {
  left: 50%;
}
.OfbHKA {
  left: 40%;
  position: absolute;
  top: 40%;
}
.vUqdSA {
  color: #fff;
  width: 264px;
}
.QRSq3Q {
  margin-bottom: 4px;
}
.GPZKnw {
  margin-bottom: 16px;
}
.vz0BJw {
  fill: #7d2ae8;
  fill-opacity: 0.9;
}
._3oB5yA {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.rv9XrA {
  position: absolute;
  top: 50%;
}
.AyxRjQ {
  position: relative;
}
.uz9Miw {
  top: -12px;
}
.DVm0VA,
.uz9Miw {
  height: 64px;
  left: -16px;
  position: absolute;
}
.DVm0VA {
  top: 112px;
}
.Qr4Olw {
  left: 320px;
  top: 160px;
}
.KZ0JrA,
.Qr4Olw {
  position: relative;
}
.KZ0JrA {
  right: 0;
  top: 112px;
}
.XGTngg {
  position: absolute;
  right: 0;
  top: 208px;
}
.TzMV4Q {
  position: relative;
  top: 20px;
}
._9Y73wQ {
  height: 74px;
  height: 192px;
  margin-bottom: -16px;
  padding-left: 48px;
  padding-right: 48px;
  width: 100%;
  width: 192px;
}
.y8ws9w {
  position: absolute;
  right: 0;
  top: 36px;
}
/* __FILE_CONTENT_FOR__:8cf0f7df2f29273b.ltr.css */
.DI6dqg {
  text-decoration: underline;
}
/*# sourceMappingURL=https://chunk-composing.canva.com/chunk-batch-sm/2_sourcemaps/91e5f180d74e949a.ltr.css.map+2_sourcemaps/81cb89bfcd774d79.ltr.css.map+2_sourcemaps/e58a63e032339ce0.ltr.css.map+2_sourcemaps/6d0b4d1503d29b08.ltr.css.map+2_sourcemaps/ab35c09ae21b1480.ltr.css.map+2_sourcemaps/a6385c7c88919ac8.ltr.css.map+2_sourcemaps/3a5b134d750eeee4.ltr.css.map+2_sourcemaps/91954355e12b0204.ltr.css.map+2_sourcemaps/1b9849f7c63df0a7.ltr.css.map+2_sourcemaps/8cf0f7df2f29273b.ltr.css.map */
