/* __FILE_CONTENT_FOR__:e712f157e1cca5fb.ltr.css */
._lSfNA {
  margin: 8px 0;
}
._lSfNA:last-child {
  margin: 0;
}
._7Lv5Wg ._lSfNA:first-child {
  margin-top: 0;
}
.W5_K0g {
  background-color: var(--C-q6Ig);
  border: 1px solid var(--Zya5eQ);
  border-radius: 4px;
  display: flex;
}
.yNVRsg {
  border-color: var(--nOtbOg);
}
.W5_K0g:hover {
  border-color: var(--9_Lxmw);
}
.W5_K0g:focus-within {
  border-color: var(--xAYPzA);
}
.hVHKfQ {
  padding-top: 8px;
}
.hVHKfQ._7Lv5Wg {
  padding-top: 0;
}
.n8AoYw.n8AoYw {
  border: none;
}
.ZrxIkw {
  max-width: 320px;
  white-space: normal;
}
.g3XzHg {
  align-items: center;
  display: flex;
}
.pB5yhg {
  color: var(--JEAqPw);
  margin-right: 4px;
}
.HLuvTQ {
  margin-top: 4px;
}
.l0JoZA {
  background-color: var(--C-q6Ig);
  border-radius: 4px;
}
._3K2sww {
  display: flex;
  position: relative;
}
.L7BnOg {
  background: var(--Shm3YQ);
}
.bRdIYA {
  border-radius: 4px;
}
._13Gcdg,
.bRdIYA {
  height: 40px;
  width: 40px;
}
._13Gcdg,
.hUsYCw {
  border-radius: 50%;
}
.hUsYCw {
  background: var(--C-q6Ig);
  bottom: -4px;
  display: flex;
  position: absolute;
  right: -4px;
}
.F8Sh4Q {
  opacity: 0.45;
}
.qZrFPw {
  color: #007ac0;
}
.fUeknQ {
  background-color: #fff;
}
._20MX_g {
  margin: auto;
  padding: 8px;
}
.mBAgIw {
  align-items: center;
  color: var(--JEAqPw);
  display: flex;
  flex-shrink: 0;
}
.mBAgIw:after,
.mBAgIw:before {
  background-color: var(--Zya5eQ);
  content: "";
  display: block;
  flex: 1;
  height: 1px;
}
.mBAgIw:before {
  margin-right: 16px;
}
.mBAgIw:after {
  margin-left: 16px;
}
.bWCYOw {
  width: 100%;
}
.XKy_Hg {
  align-items: center;
  display: flex;
}
.trXAwA {
  flex-direction: column;
}
.CWDsUQ {
  flex: 1;
  margin-right: -8px;
}
.C49Nsg {
  margin-bottom: 8px;
}
.eAKXaQ {
  width: 100%;
}
._8x0w1g {
  z-index: 1;
}
._64Z88g,
.mSn0BQ {
  cursor: pointer;
  text-decoration: underline;
}
.cehy9w {
  height: 24px;
  padding: 8px 0;
}
.FKZtMw {
  display: block;
}
.nWDpPQ {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
._7StQJw:not(:first-child) {
  margin-left: 16px;
}
.mEFCVg {
  margin-left: 8px;
}
._02KwfQ {
  margin-top: 12px;
}
.CGxkyg,
._02KwfQ {
  display: flex;
  flex-wrap: nowrap;
}
.light {
  --oqAvaw: url(images/442c46fab48c92f7a5219e254152b419.png);
  --x5fGZQ: url(images/dbd21bedd43e4b0550781dfeb9665ecb.png);
  --agxO6A: url(images/cf87c42af0deb4390e59a44592caa0c4.png);
}
.dark {
  --oqAvaw: url(images/2bac46793f423a7e6c549734852b4211.png);
  --x5fGZQ: url(images/13c0d3c13023c008445d4c3d19a9fd99.png);
  --agxO6A: url(images/a9566bc11b87a7421c4d3d63001e7ce6.png);
}
._0pkEUw {
  height: 100%;
  position: relative;
  width: 100%;
}
._0pkEUw.NxcKzg,
._0pkEUw._9uJQzA,
._0pkEUw.xd_XvQ {
  align-items: center;
  display: flex;
  height: calc(100% - 32px);
  justify-content: center;
  left: 16px;
  top: 16px;
  width: calc(100% - 32px);
}
._3J3Low {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
}
._3J3Low.aYbl7g {
  background-position: top;
  background:
    url(images/219fe5257dd44dc7ceadc92ef1d5e726.png) 0 no-repeat,
    url(images/8cf97329f5d99e31467409caeb1c8eed.png) 100% no-repeat;
  background-size:
    auto 100%,
    auto 100%;
}
._3J3Low.aYbl7g:before {
  background: url(images/ac835bb9906223bef728aa6567f5871c.png) 50% repeat-x;
  background-size: auto 100%;
  content: "";
  height: 100%;
  margin: 0 5%;
  position: absolute;
  width: 90%;
  z-index: -1;
}
._3J3Low.xd_XvQ {
  background-image: var(--oqAvaw);
}
._3J3Low.NxcKzg {
  background-image: var(--x5fGZQ);
}
._3J3Low._9uJQzA {
  background-image: var(--agxO6A);
}
.e9M8gg {
  position: absolute;
}
.e9M8gg.aYbl7g {
  background-color: hsla(0, 0%, 100%, 0.07);
}
.GN1JjA {
  display: flex;
  transform-origin: top left;
}
.GN1JjA.aYbl7g {
  margin: auto;
}
.Uwqjmg {
  background-color: var(--Shm3YQ);
  border: 1px solid var(--OuCkCQ);
  border-radius: 4px;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}
.G3KmIA {
  align-items: center;
  display: flex;
  height: 100%;
}
.w5LbsQ {
  bottom: 0;
  position: absolute;
  right: 0;
}
/* __FILE_CONTENT_FOR__:0b98afe79cacc3b3.ltr.css */
._3wrqGw {
  max-width: 480px;
  padding: 32px;
}
.zQ30gg {
  margin-bottom: 16px;
}
.I366cQ {
  padding-top: 24px;
  text-align: end;
}
.MLZYlA {
  margin-right: 16px;
}
.Te7imA {
  width: 100%;
}
.Te7imA + .Te7imA {
  margin-top: 16px;
}
.g5egsA {
  display: flex;
  margin-bottom: 24px;
}
.Ni7hfw {
  margin-right: 12px;
  max-height: 44px;
}
._2SEFwQ {
  color: var(--VNXpSw);
}
.tGJuYA {
  flex: 1;
}
._4yalqg {
  margin-bottom: 16px;
}
.RofpXw {
  text-decoration: line-through;
}
/* __FILE_CONTENT_FOR__:3b188f381be63496.ltr.css */
.EI0NDQ {
  background: transparent;
  border: 1px solid var(--Zya5eQ);
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 16px;
  width: 100%;
}
.EI0NDQ:hover {
  border-color: var(--9_Lxmw);
}
.EI0NDQ.m3gOWA {
  border: 2px solid var(--xAYPzA);
  padding: 15px;
}
/* __FILE_CONTENT_FOR__:4a0734d180a698e5.ltr.css */
.tMG5eQ {
  animation: e438wQ 1s infinite;
}
.SE6hRg {
  transform: scaleX(-1);
}
@keyframes e438wQ {
  0% {
    transform: scale(1) rotate(0deg);
  }
  60% {
    transform: scale(1.1) rotate(5deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
.fwvEWg {
  margin-left: -16px;
  pointer-events: none;
  transform: translateY(-25%);
}
.light {
  --IG1IpA: rgba(28, 39, 48, 0.5);
}
.dark {
  --IG1IpA: hsla(0, 0%, 100%, 0.7);
}
.sJ6b2A.iTqMYw {
  color: #fbbe28;
}
.sJ6b2A.LMKFyw {
  color: var(--IG1IpA);
}
.sJ6b2A.SSLpsw,
.sJ6b2A.Y6FN5Q {
  padding: 1px;
}
.sJ6b2A.IPc64g,
.sJ6b2A.csX14g {
  padding: 2px;
}
._2AfXTA.ROGLGQ .sJ6b2A.LMKFyw {
  color: var(--KtXlRg);
}
._2AfXTA.ROGLGQ {
  background-color: var(--6u-yJQ);
}
._2AfXTA.IqcsSQ {
  background-color: transparent;
}
.nkGI3w {
  display: inline-flex;
}
.UvKOuQ {
  padding: 8px 16px;
}
.TW1vNw {
  height: 12px;
  padding: 10px 0;
  width: 60%;
}
.TW1vNw:nth-child(3n - 1) {
  width: 40%;
}
.TW1vNw:nth-child(3n) {
  width: 80%;
}
/* __FILE_CONTENT_FOR__:87bcd611cbc96760.ltr.css */
.viBl_A {
  max-width: 50%;
}
.OdTJ5Q {
  max-width: 128px;
}
._6bPDfQ,
._VLA8w {
  height: 32px;
}
/* __FILE_CONTENT_FOR__:e38ec90950d263b8.ltr.css */
.bsFEJg {
  color: var(--QeQ0Dw);
}
._1sojow {
  color: var(--TZOI7A);
}
.thg0VQ {
  width: 100%;
}
.WbygSQ {
  max-width: 240px;
}
.purQpA {
  grid-column-gap: 4px;
  align-items: baseline;
  display: grid;
  grid-template-columns: minmax(0, -webkit-min-content) 1fr;
  grid-template-columns: minmax(0, min-content) 1fr;
  width: 100%;
}
._6OGLBg,
.a09GFw {
  width: 96px;
}
._6OGLBg {
  height: 20px;
}
/* __FILE_CONTENT_FOR__:73ae1c6bafe3afcd.ltr.css */
.J3WDLQ {
  grid-column-gap: 8px;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  white-space: normal;
}
.CDltpQ {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.VLfJkg {
  width: 100%;
}
.EL_kDg {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.QfwQEA {
  display: inline-block;
}
.QfwQEA.uo_s5A {
  color: var(--3V_biw);
}
.hOLtXQ {
  padding-right: 8px;
}
.pY3gtg {
  color: var(--JEAqPw);
}
.pY3gtg.uo_s5A {
  color: var(--3V_biw);
}
.WADTBA {
  margin-left: 8px;
}
._3sMTxQ,
.h2PvKQ {
  flex-grow: 0;
  float: right;
  line-height: 0;
  margin-left: 4px;
}
.ndLcwA {
  padding-right: 11px;
}
.kAHCXA {
  height: auto;
  margin: 0;
}
.G0JEog {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: 100%;
}
.IxieZA {
  max-height: 456px;
}
.X7qD2Q.X7qD2Q {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.qfedag {
  min-height: 240px;
  padding: 16px;
  width: 100%;
}
/* __FILE_CONTENT_FOR__:0acfe8b76d0edf2a.ltr.css */
.H_98Jw {
  align-items: center;
  background: var(--Tp54Vw);
  display: flex;
  flex-shrink: 0;
  height: 16px;
  padding-left: 8px;
}
.zBtdNg {
  background: var(--yrvb-A);
  border-radius: 50%;
  height: 4px;
  margin-right: 4px;
  width: 4px;
}
/* __FILE_CONTENT_FOR__:abe10db9d2a03df6.ltr.css */
._1OmKeA {
  border-radius: inherit;
  max-width: 100%;
}
/* __FILE_CONTENT_FOR__:30a54862c1a8b90e.ltr.css */
.kIwLFQ {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
._7PT7dA,
.kIwLFQ {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
._7PT7dA {
  background: transparent;
  transition: background 0.1s ease;
}
._7PT7dA > div {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.euGlTA {
  bottom: 0;
  top: 0;
}
.VxYRjg,
.euGlTA {
  position: absolute;
  width: 100%;
}
.VxYRjg {
  bottom: 48px;
  pointer-events: none;
}
.CzE9gg {
  filter: grayscale(0.45);
}
.YDbh_g {
  flex: 1;
  height: calc(100% - 160px);
  pointer-events: none;
  position: absolute;
  width: calc(100% - 80px);
}
.z2MhtA {
  height: 100%;
  width: 100%;
}
.q9cG_Q {
  box-sizing: border-box;
  display: block;
  height: calc(
    100% - var(--safe-area-inset-top) - var(--safe-area-inset-bottom)
  );
  max-width: 100%;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  width: 100%;
}
.KC_0ew {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  outline: none;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.KC_0ew,
.KC_0ew.V41srg {
  background-color: rgba(13, 18, 22, 0.95);
}
.KC_0ew.ZD3Q_g {
  transition: opacity 0.25s ease-in-out;
}
.z6pJEQ {
  background: linear-gradient(rgba(13, 18, 22, 0.7), rgba(13, 18, 22, 0));
  display: flex;
  height: 48px;
  justify-content: center;
  margin-top: var(--safe-area-inset-top);
  outline: none;
  position: fixed;
  top: 0;
  width: 100%;
}
.hkmqOw {
  flex: 1;
  margin-top: 8px;
}
.Mn8hFA {
  animation: fZQCug 0.5s ease 0.5s forwards;
  opacity: 0;
}
@keyframes fZQCug {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
._zqCpA {
  position: absolute;
  right: 8px;
  top: 8px;
}
._T6JNg,
._zqCpA {
  pointer-events: auto;
}
._T6JNg {
  border-radius: 50%;
  margin-top: -2px;
  min-width: unset;
}
.tpYFSQ:hover {
  opacity: 1;
}
.tpYFSQ {
  box-sizing: border-box;
  left: 6px;
  opacity: 0.8;
  pointer-events: auto;
  position: absolute;
}
._hVm3Q {
  transition: opacity 0.3s ease;
}
.KiXrIg {
  grid-gap: 8px;
  display: inline-grid;
  grid-auto-flow: column;
}
.TBh4kA {
  background: #000;
  height: 100%;
  position: absolute;
  width: 100%;
}
.TBh4kA,
.ZPGegw {
  align-items: center;
  display: flex;
  justify-content: center;
}
.e__9EA,
.fTSnxg {
  grid-gap: 8px;
  display: grid;
  grid-auto-flow: column;
}
.UOnjIw {
  display: flex;
  flex-direction: column;
}
.gZRaqQ {
  display: grid;
  grid-auto-columns: row;
  grid-template-rows: minmax(0, 1fr);
  height: 100%;
}
.KoKm2w {
  display: grid;
  grid-template-columns: minmax(0, auto);
  grid-template-rows: 100%;
  height: inherit;
  max-height: inherit;
}
.y4L3iQ {
  height: 100%;
  width: 100%;
}
.YfeoTA {
  max-height: calc(100vh - 130px);
  width: 416px;
}
.Zka10Q {
  color: #0084ff;
}
.light {
  --y-Cg_Q: colorBlack;
}
.dark {
  --y-Cg_Q: #fff;
}
.nAap8A {
  color: var(--y-Cg_Q);
}
.e8gUgA {
  border-radius: 4px;
  overflow: hidden;
}
._45hS4Q {
  display: block;
  height: 0;
  padding: 0 0 100%;
  position: relative;
  width: 100%;
}
.HdMYqQ {
  height: 100%;
  left: 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
._8IiXNA {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.NWPYnA {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.sVEJmQ {
  height: 40px;
  padding: 8px;
  width: 40px;
}
.rBJu_g,
.sVEJmQ {
  box-sizing: border-box;
}
.rBJu_g {
  flex: 1 0 auto;
  height: 50%;
}
.xqL_CQ {
  grid-gap: 16px;
  align-content: start;
  display: grid;
  padding: 16px;
}
.BxrTzA {
  grid-gap: 16px;
  display: grid;
  grid-template-columns: repeat(5, 48px);
  grid-template-rows: 48px;
  justify-content: start;
  padding: 0 16px;
}
.AcxkMg {
  grid-template-rows: repeat(5, 48px);
}
.AcxkMg,
.TMxLSg {
  grid-gap: 8px;
  display: grid;
}
.TMxLSg {
  padding: 16px;
}
.u7RPJg {
  width: 160px;
}
.yr8lmQ {
  grid-gap: 8px;
  display: grid;
  grid-template-columns: repeat(2, 32px);
}
._6PRHtw {
  height: 40px;
}
.LAl0Pw {
  width: 160px;
}
.yK_JQA {
  grid-gap: 8px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 40px;
}
._iz2Ww {
  height: 40px;
}
.Y7CGag {
  display: grid;
  grid-template-columns: repeat(4, 48px);
  justify-content: space-between;
  padding: 0 16px;
}
._3DK53w {
  grid-gap: 8px;
  display: grid;
  grid-template-rows: repeat(4, 48px);
}
.OMSzpw {
  padding: 16px;
}
.Tt7YMA {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 388px;
}
.sFl_BA {
  padding-bottom: var(--safe-area-inset-bottom);
}
.dtWLRg {
  align-items: center;
  background-color: var(--C-q6Ig);
  color: var(--VNXpSw);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.lH_VJw {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.x3TvgQ {
  min-width: 0;
}
.rp1xZw {
  grid-gap: 8px;
  display: grid;
  grid-auto-flow: column;
}
.EGvorg {
  display: flex;
  position: relative;
}
.dxWT_g {
  background-color: var(--jTT_jQ);
  border-radius: 50%;
  height: 8px;
  right: 0;
  top: 0;
  width: 8px;
}
.dxWT_g,
.ta3g_g {
  position: absolute;
}
.ta3g_g {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}
.pF_s3A {
  background-color: var(--4RaSjg);
  padding: 16px;
}
.xoMpwQ {
  height: 48px;
}
.ntkASA,
.xoMpwQ {
  margin-bottom: 16px;
}
.ntkASA {
  height: 192px;
}
.Xnx3cQ {
  height: 40px;
  margin-bottom: 16px;
}
.MfyZhg {
  height: 100%;
  width: 100%;
}
._12_tw {
  max-height: calc(100vh - 130px);
  width: 416px;
}
._5I8gNw {
  color: var(--JEAqPw);
  display: block;
}
._5SNLgA {
  height: auto;
  padding-bottom: 8px;
  padding-top: 8px;
}
/* __FILE_CONTENT_FOR__:ab91f8d309e695e8.ltr.css */
._7DenRA {
  margin-top: 4px;
}
.HUXoPQ {
  background-color: var(--yrvb-A);
  border-radius: 8px;
  height: 4px;
  margin-bottom: 8px;
  overflow: hidden;
  width: 100%;
}
.A4odzg {
  height: 100%;
  transform-origin: left;
  transition:
    transform 0.1s linear,
    background-color 0.1s linear;
  width: 100%;
}
._5unvSw .A4odzg {
  background-color: var(--bk41Zw);
}
.Wq9vhQ .A4odzg {
  background-color: var(--MRX9rw);
}
.HXh8eg .A4odzg {
  background-color: var(--P69qRQ);
}
._4SOUw {
  font-weight: 600;
}
._5unvSw ._4SOUw {
  color: var(--bk41Zw);
}
.Wq9vhQ ._4SOUw {
  color: var(--MRX9rw);
}
.HXh8eg ._4SOUw {
  color: var(--P69qRQ);
}
.gLwRtA {
  margin-left: 4px;
  margin-right: 4px;
}
.AL_0xw,
.gLwRtA {
  color: var(--5F8MFw);
}
._5unvSw .AL_0xw,
._5unvSw .gLwRtA {
  color: var(--bk41Zw);
}
._57ApVg {
  align-self: center;
  height: 20px;
  margin-left: -28px;
  width: 20px;
}
.ZMiUDw {
  color: var(--3V_biw);
}
.Hp1GZA {
  color: var(--P69qRQ);
}
.XYPJuw:disabled:hover {
  cursor: text;
}
.XYPJuw {
  display: flex;
}
.XYPJuw input:disabled {
  pointer-events: none;
}
._E4X1Q {
  background-color: initial;
}
.k4R_pA {
  height: 100%;
}
.XlmJhg,
.k4R_pA {
  display: flex;
  flex-direction: column;
}
.XlmJhg {
  flex-grow: 1;
  justify-content: flex-end;
}
.B_T1sQ {
  color: var(--JEAqPw);
}
/* __FILE_CONTENT_FOR__:64b721c7a013238d.ltr.css */
.gBg49Q {
  height: 100%;
  object-fit: cover;
  object-position: left;
  width: 100%;
}
/* __FILE_CONTENT_FOR__:1876fb17a0048c04.ltr.css */
.GrY9jg {
  width: 600px;
}
/* __FILE_CONTENT_FOR__:d1478664d2afcc7e.ltr.css */
.xSec2A div,
.xSec2A p,
.xSec2A span {
  color: inherit;
}
/* __FILE_CONTENT_FOR__:4ce09ba93de84a8d.ltr.css */
._3Q69cQ {
  overflow: hidden;
}
._3Q69cQ,
.fQVrpg {
  height: 100%;
  width: 100%;
}
.fQVrpg {
  cursor: pointer;
  position: relative;
}
.pCfjRA {
  background-size: 100% 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 0.3s;
  width: 100%;
}
.S_eNsA {
  align-items: center;
  border-radius: 50%;
  bottom: 8%;
  display: flex;
  height: 48px;
  justify-content: center;
  left: 5%;
  position: absolute;
  width: 48px;
}
.fQVrpg:hover .pCfjRA {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.KwqlfQ {
  display: block;
  height: calc(56vw - 42px);
  max-height: 81vh;
  max-width: 144vh;
  position: relative;
  width: calc(100vw - 80px);
}
._4tHmbg {
  display: block;
  height: 56.25vw;
  width: 100vw;
}
.Nt7f9A {
  height: 100%;
  width: 100%;
}
/* __FILE_CONTENT_FOR__:93fc97f197d9f0df.ltr.css */
.mZYtqA {
  color: #009fe8;
}
.RNwF1g {
  background-color: #009fe8;
}
.RNwF1g.RNwF1g:focus,
.RNwF1g.UfwEwQ:hover {
  background-color: #0f82d6;
}
.RNwF1g.RNwF1g:focus {
  border-color: #0e77c3;
}
.RNwF1g.RNwF1g:active {
  background-color: #0e77c3;
}
.RNwF1g.RNwF1g._0x5yew {
  background-color: #009fe8;
}
.RNwF1g.RNwF1g.aaWBhQ {
  background-color: var(--oqurdw);
  color: var(--17LfHw);
}
.kRv2Ug {
  background-color: #13cc0a;
}
.kRv2Ug.UfwEwQ:hover,
.kRv2Ug.kRv2Ug:focus {
  background-color: #1ddd13;
}
.kRv2Ug.kRv2Ug:focus {
  border-color: #1aad19;
}
.kRv2Ug.kRv2Ug:active {
  background-color: #1aad19;
}
.kRv2Ug.kRv2Ug._0x5yew {
  background-color: #13cc0a;
}
.kRv2Ug.kRv2Ug.aaWBhQ {
  background-color: var(--oqurdw);
  color: var(--17LfHw);
}
.kz9sYQ {
  margin: 8px auto;
}
.kz9sYQ.x1VoXA {
  height: 150px;
  width: 150px;
}
.kz9sYQ.zyDXKQ {
  height: 250px;
  width: 250px;
}
/* __FILE_CONTENT_FOR__:54cd616b84a87d09.ltr.css */
.WTJtnQ {
  display: flex;
  flex-direction: column;
  height: 100%;
}
._3zkSeg {
  flex-grow: 1;
  min-height: 0;
}
/* __FILE_CONTENT_FOR__:95c6f2e2bb8ace74.ltr.css */
.DuAI1w {
  background-color: #7d2ae8;
  border-radius: 8px;
  box-shadow:
    0 0 0 1px rgba(64, 87, 109, 0.07),
    0 2px 8px rgba(57, 76, 96, 0.15);
  color: #fff;
  position: relative;
}
.ABGYzA {
  background-color: var(--4RaSjg);
}
@keyframes n8JGLw {
  0% {
    transform: translateX(-16px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes spXtnA {
  0% {
    transform: translateX(16px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes nH7NVw {
  0% {
    transform: translateY(16px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes _9v10Kg {
  0% {
    transform: translateY(-16px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes _1_lK7Q {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(16px);
  }
}
@keyframes WU_6_A {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-16px);
  }
}
@keyframes lRhcsw {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-16px);
  }
}
@keyframes jFkUOg {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(16px);
  }
}
._0iI4Ig {
  animation: _9v10Kg 0.5s ease;
}
._6OTXiw {
  animation: lRhcsw 0.5s ease;
}
.MBNi_Q {
  animation: nH7NVw 0.5s ease;
}
._HfhZw {
  animation: jFkUOg 0.5s ease;
}
.s67XcQ {
  animation: nH7NVw 0.5s ease;
}
.HkTJ_g {
  animation: jFkUOg 0.5s ease;
}
.t7UJEg {
  animation: spXtnA 0.5s ease;
}
.VSvCNw {
  animation: _1_lK7Q 0.5s ease;
}
._52EQaA {
  animation: n8JGLw 0.5s ease;
}
._o6BmA {
  animation: WU_6_A 0.5s ease;
}
.nE4ESQ {
  box-sizing: border-box;
  padding: 60px 24px 0;
  pointer-events: none;
}
.qzhlvg {
  border-color: #7d2ae8 transparent;
  border-style: solid;
  border-width: 0 12px 12px;
  filter: drop-shadow(0 -4px 2px rgba(64, 87, 109, 0.07));
}
.mN0_SQ {
  border-color: var(--4RaSjg) transparent;
  padding: 1px;
}
.m10gsQ {
  margin: 12px 0;
}
.PFWkFw,
.QfNK_Q,
.V_sdQw,
._0MDqmA {
  animation: nH7NVw 0.5s ease;
}
.KwMkJw,
._8XpqLg,
.bhVmiw,
.fYU2dg {
  animation: jFkUOg 0.5s ease;
}
._7ofBvA {
  color-scheme: light;
  position: fixed;
}
.j55oqg {
  display: flex;
  min-height: 90vh;
}
.LOi8HQ {
  position: relative;
}
.__NInA {
  margin-left: 8px;
}
.s2u_AA {
  align-items: center;
  color: var(---8UyGw);
  display: flex;
}
.s2u_AA.nfHxyQ {
  padding-bottom: 0;
}
.XVHlvQ {
  color: var(---8UyGw);
}
.FrGTCw {
  align-items: center;
  background-color: var(--eGVbng);
  border-radius: 50%;
  color: var(--d1p99w);
  display: flex;
  height: 16px;
  justify-content: center;
  margin-right: 8px;
  padding: 4px;
  width: 16px;
}
.FrGTCw.kXtnhg {
  height: 12px;
  padding: 3px;
  width: 12px;
}
._7eriJw {
  width: 343px;
}
.LATjKg {
  width: 296px;
}
.mDwAcQ {
  align-items: center;
  background-color: var(--Shm3YQ);
  border: none;
  border-radius: 12px;
  color: var(--3V_biw);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 24px;
  justify-content: flex-start;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
}
.fQ4iFg.mDwAcQ {
  transition:
    background-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
}
.mDwAcQ:hover:not(.gDXpzw):not(._NBi8Q) {
  background-color: var(--z7Xq7A);
}
.mDwAcQ:active:not(.gDXpzw):not(._NBi8Q) {
  background-color: var(--m9sa8w);
}
.mDwAcQ._7GC64Q:hover:not(.gDXpzw):not(._NBi8Q) {
  background-color: var(--eGVbng);
  color: var(--d1p99w);
}
.mDwAcQ._7GC64Q,
.mDwAcQ._7GC64Q._NBi8Q,
.mDwAcQ._7GC64Q:active:not(.gDXpzw):not(._NBi8Q) {
  background-color: var(--boKKWg);
  color: var(--d1p99w);
}
.mDwAcQ._NBi8Q {
  background-color: var(--aj4L_w);
  color: var(--3YOFOw);
}
.gDXpzw {
  cursor: wait;
}
._NBi8Q {
  cursor: not-allowed;
}
.srrzgw {
  color: inherit;
  margin-left: 8px;
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.b2bpYQ {
  color: inherit;
  margin-right: 4px;
}
.S8gJPw {
  margin-left: -4px;
}
.mjYyqQ {
  align-items: center;
  display: inline-grid;
  justify-items: center;
}
.AkUGew {
  grid-column-start: 1;
  grid-row-start: 1;
}
.G3RCqg {
  opacity: 0;
}
._8Kk5hQ {
  transition: opacity 0.15s ease-in-out;
}
._8Kk5hQ,
.f67fsQ {
  opacity: 1;
}
.PgZz3Q {
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}
._991JcA {
  background-color: var(--dVucJw);
  display: flex;
  flex-direction: column;
  height: 100%;
}
._991JcA.rO_6WQ {
  background-color: var(--4RaSjg);
}
._5w7SqA {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 32px;
}
.WudJtA {
  padding-bottom: 32px;
}
.OTW4rQ {
  padding-bottom: 16px;
}
.BstyaQ {
  padding-top: 24px;
}
.SsAPnA {
  flex: 1;
}
.J1_81A {
  display: flex;
  flex-direction: column;
}
.XYsUew {
  margin-top: 8px;
  max-width: 380px;
  width: 60%;
}
.olw5iw {
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.pvPPpA {
  transition: height 0.3s ease-in-out;
}
@media (prefers-reduced-motion) {
  .olw5iw {
    transition: opacity 0.3s ease-in-out;
  }
  .pvPPpA {
    transition: none;
  }
}
.HSiSug,
.VtR4xA,
.yCaXjg {
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}
.yCaXjg {
  opacity: 0;
}
.SQyMDQ {
  background-color: var(--KtXlRg);
  border-radius: 50%;
  color: var(--6u-yJQ);
  height: 24px;
  padding: 0;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
}
.ser7zw {
  display: flex;
  flex-direction: column;
}
.ser7zw._Ipmzg {
  max-width: 496px;
}
.RaISmg {
  height: 50%;
  width: 100%;
}
._WwANg {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  padding: 32px;
}
._WwANg.SCRTcw {
  padding: 16px;
}
.wNEN4Q {
  margin-top: 48px;
}
.wNEN4Q.SCRTcw {
  margin-top: 32px;
}
.oc_yTw {
  margin-top: 16px;
}
.UIPCcg {
  display: inline-block;
  visibility: hidden;
}
.D5M8xg,
.UIPCcg {
  position: absolute;
}
.D5M8xg {
  pointer-events: auto;
  transition: opacity 0.6s ease-in-out;
  will-change: opacity;
}
.i59yDw {
  background-color: var(--eGVbng);
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow:
    0 0 1.5px rgba(53, 71, 90, 0.2),
    0 2.75px 11px rgba(53, 71, 90, 0.2);
  box-sizing: border-box;
  color: #fff;
  height: calc(100% - 28px);
  left: 14px;
  overflow: hidden;
  padding: 8px;
  position: absolute;
  top: 14px;
  width: calc(100% - 28px);
}
.c_UWuw {
  line-height: 1.3;
}
.mz6AgQ {
  stroke-width: 1.25px;
  color: var(--eGVbng);
  filter: drop-shadow(0 0 1.5px rgba(53, 71, 90, 0.2))
    drop-shadow(0 2.75px 11px rgba(53, 71, 90, 0.2));
  height: 21px;
  width: 21px;
}
.c2itIA,
.mz6AgQ {
  position: absolute;
}
.c2itIA {
  will-change: opacity;
}
.xzLmsQ {
  border: 4px solid var(--eGVbng);
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
._6mlwYQ {
  height: 180px;
}
._6mlwYQ:before {
  background-image: url(images/29d15eb35cf71995784f3739a1d5f417.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 470px;
  content: " ";
  display: block;
  height: 180px;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
.xQtuhg {
  color: #ff5154;
  right: 80px;
  top: 90px;
  transform: scale(2) rotate(15deg);
}
.G6RgIA,
.xQtuhg {
  position: absolute;
}
.G6RgIA {
  animation: DDT7dg 3s ease-in-out infinite;
  height: 100vh;
  pointer-events: none;
  width: 100vw;
}
.sgQuiA {
  display: none;
}
._9S8XEg {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.YVMIRw {
  flex: 1 1 0;
}
.YVMIRw,
.zY7P9Q {
  align-items: center;
  display: flex;
  justify-content: center;
}
.zY7P9Q {
  background: linear-gradient(90deg, #00c4cc, #7d2ae8);
  border-radius: 50%;
  filter: blur(40px);
  height: 280px;
  opacity: 0.4;
  width: 280px;
}
.FavgVQ {
  position: absolute;
}
.JeH0Bg {
  height: 72px;
  width: 72px;
}
.PfioPw {
  margin-bottom: var(--safe-area-inset-bottom);
}
@keyframes DDT7dg {
  0%,
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes bY4zbw {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  12.5%,
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(1.55);
  }
}
@keyframes _48IWhA {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  12.5% {
    opacity: 1;
    transform: scale(1.1);
  }
  25% {
    transform: scale(0.9);
  }
  60% {
    opacity: 1;
    transform: scale(0.9);
  }
  80%,
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}
@keyframes AzH2Kw {
  0%,
  12.5%,
  7.5% {
    transform: rotate(0deg);
  }
  2.5% {
    transform: rotate(-2.5deg);
  }
  10%,
  5% {
    transform: rotate(2.5deg);
  }
}
.oySPOA svg {
  overflow: visible;
}
.PzxMxQ {
  opacity: 0;
  transform-box: view-box;
}
.OwpmLw,
.PzxMxQ {
  transform-origin: center;
}
.OwpmLw {
  stroke: #7d2ae8;
  opacity: 0.001;
  transform-box: fill-box;
}
.EzD2qw .PzxMxQ {
  animation: bY4zbw 7.5s cubic-bezier(0.5, 1, 0.89, 1);
}
.EzD2qw .OwpmLw {
  animation: _48IWhA linear infinite;
}
.oySPOA {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.G0iNsQ {
  stop-color: #7d2ae8;
}
._CdEuw {
  stop-color: #00c4cc;
}
.r_VjCw {
  animation: ZrmHNQ 0.3s ease-in-out;
  max-width: 375px;
}
@keyframes ZrmHNQ {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.BcjzOA,
.KGCX9w,
.KpAm_g {
  height: 100%;
  object-fit: cover;
  object-position: left;
  width: 100%;
}
._IPDng {
  height: 100%;
  object-fit: cover;
  object-position: left;
  width: 100%;
}
.INEfHQ {
  display: flex;
  flex-direction: column;
}
.ZCNv4w {
  max-width: 496px;
}
.by0upg {
  grid-gap: 16px;
  display: grid;
}
.aCKuEQ {
  margin: 32px 32px 40px;
}
.lmvi4g {
  margin: 24px 24px 16px;
}
.h7Tgzw {
  margin-left: 32px;
  margin-right: 32px;
}
.VHfAfA {
  margin: 0;
}
.hPT5CQ {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  margin: 24px 28px 0;
  position: relative;
}
.LlFGXA {
  height: 243.2px;
  margin: 32px 32px 0;
}
._0tdBEw {
  height: 392px;
  position: relative;
  width: 650px;
}
.RE_UdA {
  border-radius: 8px;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  overflow: hidden;
}
.RE_UdA,
._60R5HQ {
  height: 100%;
  width: 100%;
}
.VEBnMA {
  height: 100%;
}
.IXsXQQ,
.VEBnMA {
  display: flex;
  flex-direction: column;
}
.IXsXQQ {
  flex-grow: 1;
  overflow: hidden;
}
.tsmNWw {
  padding-bottom: 16px;
}
.hwUkFw {
  flex: 0;
}
.zeklrw:not(:empty) ~ .zeklrw {
  margin-top: 16px;
}
.zeklrw:empty {
  display: none;
}
.OJ6_nw {
  height: 40px;
}
.p5W_mw {
  height: 80px;
}
.IFBbsA {
  box-sizing: border-box;
  height: 56px;
}
.pFlmUA {
  flex: 1 0 auto;
}
.Fm1vsg {
  width: 100%;
}
.IFBbsA.Fm1vsg + .IFBbsA.Fm1vsg {
  margin-top: 8px;
}
._3p54Qw {
  background: linear-gradient(to bottom left, #00c4cc, #7d2ae8);
}
.QgkVEg {
  background: hsla(0, 0%, 100%, 0.2);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-radius: var(--Y7ZPjA, 4px);
}
.CdWO3A {
  color: #fff;
}
.eRpYrQ {
  margin: 0 8px;
  max-height: 32px;
  max-width: 347px;
}
.S4gIGQ {
  margin: 0 4px;
  max-height: 22px;
  max-width: 245px;
}
.ZKYaQg {
  max-height: 200px;
  max-width: 443px;
}
.gmBl7Q {
  max-height: 112px;
  max-width: 309px;
}
.iDaN2g {
  text-align: center;
}
.jalLqA {
  display: flex;
}
.jalLqA.r0N03Q {
  justify-self: start;
}
.jalLqA.NjmxkQ {
  justify-self: center;
}
.l98eJA {
  align-items: center;
  display: flex;
}
.hPBaSw {
  margin-right: 4px;
}
.xfvqLw {
  margin-top: 8px;
}
.mzxGtA {
  position: relative;
}
.YWQZoQ {
  position: absolute;
  right: 8px;
  top: 8px;
}
.oaFwHg {
  position: relative;
}
.rtDJsA {
  background-color: var(--yrvb-A);
  border: 1px solid var(--3R4u8w);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
  text-align: start;
}
.lusOGw {
  align-items: center;
  display: flex;
}
.qn16Wg {
  padding-right: 1.6px;
}
.USa07w {
  color: var(--JEAqPw);
  float: right;
  height: auto;
  position: absolute;
  right: 8px;
  top: 8px;
  width: auto;
}
.dN5gxQ {
  background-color: var(--ob8tTA);
  border-radius: 4px;
  color: var(--QeQ0Dw);
  margin: 0;
  overflow-y: hidden;
  padding: 8px;
}
.dN5gxQ:focus,
.dN5gxQ:hover {
  background-color: var(--MghLXQ);
}
.dN5gxQ:active {
  background-color: var(--3R4u8w);
}
.dN5gxQ:disabled {
  background-color: var(--TwiLcg);
  cursor: auto;
}
._0tWlwQ {
  align-items: center;
  background: linear-gradient(to bottom right, #00c4cc, #7d2ae8);
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex: 0 0 56px;
  height: 56px;
  justify-content: center;
  width: 56px;
}
.KH_LJg {
  color: var(---8UyGw);
}
.iMEnAA {
  margin-bottom: 4px;
  margin-top: 8px;
}
.dgej1w {
  padding: 16px 28px;
}
.eV_UmQ {
  padding: 0 16px 16px;
}
.fOK9Yw {
  padding: 16px 0;
}
.EaFdMA {
  margin-right: -4px;
}
.DwkdQQ:disabled .EaFdMA {
  color: var(--5F8MFw);
}
.DwkdQQ {
  padding-left: 20px;
}
.x54dnw .v_2z0A {
  background-color: #1855d8;
}
.x54dnw .NEFV6g {
  background-color: #e0efff;
}
.LLCN3A .v_2z0A {
  background-color: #00afb5;
}
.LLCN3A .NEFV6g {
  background-color: rgba(187, 243, 244, 0.3);
}
._ZXxZw .v_2z0A {
  background-color: #fdbc68;
}
._ZXxZw .NEFV6g {
  background-color: #ffebd6;
}
.RKxc7w {
  background-color: #fff;
  color: #0d1216;
  overflow: hidden;
}
.v_2z0A {
  color: #fff;
}
.WttVmg {
  align-self: stretch;
  min-height: 256px;
  overflow: hidden;
  position: relative;
  width: 416px;
}
.WttVmg.R1PZBA {
  width: 200px;
}
._iMSsw {
  position: absolute;
  right: 64px;
  top: -44px;
  width: 168px;
  z-index: 0;
}
.R1PZBA ._iMSsw {
  right: 32px;
  top: 40px;
  width: 104px;
}
.Hy86KQ {
  border-radius: 8px;
  bottom: -8px;
  left: 16px;
  position: absolute;
  width: 128px;
  z-index: 1;
}
.R1PZBA .Hy86KQ {
  bottom: -24px;
  left: 8px;
  width: 88px;
}
.n1KuGA {
  left: 24px;
  position: absolute;
  width: 128px;
  z-index: 2;
}
.R1PZBA .n1KuGA,
.n1KuGA {
  top: 0;
  transform: translateY(-40%);
}
.R1PZBA .n1KuGA {
  left: 0;
  width: 88px;
}
.L6vYww {
  border-radius: 8px;
  height: 128px;
  position: absolute;
  z-index: 3;
}
.L6vYww,
.R1PZBA .L6vYww {
  bottom: -4px;
  right: 0;
  transform: translateX(50%);
}
.R1PZBA .L6vYww {
  height: 96px;
}
.vpTK9Q {
  bottom: 0;
  position: absolute;
  right: 0;
  transform: translate3d(-30%, -40%, 0);
  width: 128px;
  z-index: 5;
}
.R1PZBA .vpTK9Q {
  display: none;
  right: 0;
  top: 50%;
  transform: translate3d(-10%, 10%, 0);
  width: 96px;
}
.pqXbMQ {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
  z-index: 4;
}
.R1PZBA .pqXbMQ {
  left: 0;
  top: 50%;
  transform: translateY(0);
}
._VpISQ {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  height: 32px;
  overflow: hidden;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.F3OVQQ {
  height: 100%;
  width: 40px;
}
.DK4tZw {
  color: var(---UopgA);
}
._1zCuyw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
._1zCuyw._7E9KGw {
  border-radius: 8px;
}
._1zCuyw.PM3C6w {
  background: var(--Shm3YQ);
}
._1zCuyw.uieRCg {
  background: #fee6e6;
}
._1zCuyw._4k23bg {
  background: linear-gradient(
      0deg,
      rgba(255, 210, 0, 0.5) 0,
      rgba(255, 210, 0, 0)
    )
    #fffacd;
}
._1zCuyw.G8bZrw {
  background: #faf4ff;
}
._1zCuyw.lbWQJw {
  background: #e1c3ff;
}
._1zCuyw.swuchA {
  background: #cce1ff;
}
.GJLuHg {
  flex: 1;
  max-width: 640px;
  padding: 24px;
  z-index: 1;
}
.rW_p7A {
  align-items: center;
  display: flex;
}
.X72cJA.v4GlQg {
  padding-right: 40px;
}
.dDQKQQ {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 2;
}
.FwiJgA {
  width: 305px;
}
.Hsl5_g {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.Vuga9Q {
  padding: 8px 16px 0;
}
.lMYdrQ {
  padding: 0 16px calc(16px + var(--safe-area-inset-bottom)) 16px;
}
.Seln2g {
  display: flex;
}
.dlG98A {
  padding: 8px 0 0 16px;
}
.XNkvww {
  padding: 16px;
}
._7jTPJA {
  padding: 16px 0;
}
.EkDZGQ {
  margin-top: 8px;
}
.RfTsgQ:last-child .NuAF4w {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.NuAF4w {
  overflow: hidden;
}
.filQkQ {
  margin-left: auto;
  width: -webkit-max-content;
  width: max-content;
}
.dark {
  --tHFEfQ: #252627;
  --Ve2T8A: linear-gradient(33deg, #36255b 30%, #252627 60%);
}
.light {
  --tHFEfQ: #fff;
  --Ve2T8A: linear-gradient(33deg, #e7dbff 30%, #fff 60%);
}
.Qz3bEw {
  --Z0igKA: 130vw;
  --jB6Kow: linear-gradient(33deg, #7731d8 30%, hsla(0, 0%, 100%, 0) 60%);
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  padding: 2px;
  position: relative;
}
.Qz3bEw:before {
  animation: Nn0Ftg 2.5s linear infinite;
  background-image: var(--jB6Kow);
  content: "";
  height: 130vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 130vw;
  z-index: 0;
}
.Qz3bEw li:first-of-type {
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.Qz3bEw li:first-of-type:before {
  animation: _1RSw_A 2.5s linear infinite;
  background-image: var(--Ve2T8A);
  content: "";
  height: 130vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 130vw;
  z-index: -1;
}
@keyframes Nn0Ftg {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(100%, 45%);
  }
  20% {
    transform: translate(-50%, -50%) rotate(90deg) scale(45%, 100%);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) scale(100%, 45%);
  }
  70% {
    transform: translate(-50%, -50%) rotate(270deg) scale(45%, 100%);
  }
  to {
    transform: translate(-50%, -50%) rotate(1turn) scale(100%, 45%);
  }
}
@keyframes _1RSw_A {
  to {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
.dark {
  --AJUf1g: linear-gradient(33deg, #7731d8 30%, transparent 60%);
  --fKf-uQ: url(images/cf7bd393c48b31a59830f345bb2180ce.png);
  --YcxIdw: #252627;
  --hC_8zw: rgba(13, 18, 22, 0.86);
  --A6vIaw: #fff;
  --qTBp7A: linear-gradient(
    33deg,
    transparent,
    transparent 40%,
    hsla(0, 0%, 100%, 0.3) 60%
  );
  --cR3acQ: transparent;
  --NVteoQ: hsla(0, 0%, 100%, 0.2);
  --woL9kw: hsla(0, 0%, 100%, 0.5);
}
.light {
  --AJUf1g: linear-gradient(33deg, #7731d8 30%, #e7dbff 60%);
  --fKf-uQ: url(images/ab98aec144f31675dc67e2597c3ccff0.png);
  --YcxIdw: hsla(0, 0%, 100%, 0.9);
  --hC_8zw: hsla(0, 0%, 100%, 0.8);
  --A6vIaw: #0d1216;
  --qTBp7A: linear-gradient(
    33deg,
    transparent,
    transparent 40%,
    hsla(0, 0%, 100%, 0.3) 60%
  );
  --cR3acQ: transparent;
  --NVteoQ: hsla(0, 0%, 100%, 0.2);
  --woL9kw: hsla(0, 0%, 100%, 0.5);
}
.FSYZYw {
  --CaYgBQ: 256px;
  display: flex;
}
.YnJuIA {
  border: none;
  border-radius: calc(var(--9hdJJA, calc(8px * 0.5)) + 2px);
  box-shadow: var(--Y8HWNQ);
  outline: none;
  overflow: hidden;
  padding: 2px;
  position: relative;
  z-index: 1;
}
.KmoeeQ {
  animation: _5XhHug 5s linear infinite;
  background-color: var(--YcxIdw);
  background-image: var(--AJUf1g);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.FSYZYw button:first-of-type {
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.FSYZYw button:first-of-type:before {
  animation: _5XhHug 5s linear infinite;
  background-color: var(--YcxIdw);
  background-image: var(--AJUf1g);
  content: "";
  height: var(--CaYgBQ);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: var(--CaYgBQ);
  z-index: -1;
}
.FSYZYw.yxb66A button:first-of-type:before {
  background-color: var(--cR3acQ);
  background-image: var(--qTBp7A);
}
.FSYZYw button:first-of-type:after {
  background-color: var(--YcxIdw);
  border-radius: calc(var(--Y7ZPjA, calc(8px * 0.5)) - 2px);
  content: "";
  height: calc(100% - 4px);
  left: 2px;
  position: absolute;
  top: 2px;
  width: calc(100% - 4px);
  z-index: -1;
}
.FSYZYw.yxb66A button:first-of-type:after {
  background-color: var(--cR3acQ);
  box-shadow: 0 0 0 5px var(--woL9kw);
}
.FSYZYw._645y3g button:first-of-type:after {
  border-radius: 9999px;
}
.FSYZYw button:first-of-type:hover:after {
  background-color: var(--hC_8zw);
}
.FSYZYw.yxb66A button:first-of-type:hover:after {
  background-color: var(--NVteoQ);
}
.FSYZYw button:first-of-type > span {
  -webkit-text-fill-color: transparent;
  animation: jb_Cxg 5s ease-in-out infinite;
  -webkit-background-clip: text;
  background-clip: text;
  background-color: var(--A6vIaw);
  background-image: var(--fKf-uQ);
  background-position: -140% 30%;
  background-repeat: no-repeat;
  background-size: 60% 140%;
  z-index: 1;
}
@keyframes jb_Cxg {
  60% {
    background-position: 240% 30%;
  }
  to {
    background-position: 240% 30%;
  }
}
@keyframes _5XhHug {
  to {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
/*# sourceMappingURL=https://chunk-composing.canva.com/chunk-batch-sm/2_sourcemaps/e712f157e1cca5fb.ltr.css.map+2_sourcemaps/0b98afe79cacc3b3.ltr.css.map+2_sourcemaps/3b188f381be63496.ltr.css.map+2_sourcemaps/4a0734d180a698e5.ltr.css.map+2_sourcemaps/87bcd611cbc96760.ltr.css.map+2_sourcemaps/e38ec90950d263b8.ltr.css.map+2_sourcemaps/73ae1c6bafe3afcd.ltr.css.map+2_sourcemaps/0acfe8b76d0edf2a.ltr.css.map+2_sourcemaps/abe10db9d2a03df6.ltr.css.map+2_sourcemaps/30a54862c1a8b90e.ltr.css.map+2_sourcemaps/ab91f8d309e695e8.ltr.css.map+2_sourcemaps/64b721c7a013238d.ltr.css.map+2_sourcemaps/1876fb17a0048c04.ltr.css.map+2_sourcemaps/d1478664d2afcc7e.ltr.css.map+2_sourcemaps/4ce09ba93de84a8d.ltr.css.map+2_sourcemaps/93fc97f197d9f0df.ltr.css.map+2_sourcemaps/54cd616b84a87d09.ltr.css.map+2_sourcemaps/95c6f2e2bb8ace74.ltr.css.map */
